@import '~@angular/material/theming';
@include mat-core();
$gero_primary: (
  50: #e5f3fb,
  100: #bee0f5,
  200: #92cbef,
  300: #66b6e8,
  400: #46a7e3,
  500: #2597de,
  600: #218fda,
  700: #1b84d5,
  800: #167ad1,
  900: #0d69c8,
  A100: #f5f9ff,
  A200: #c2ddff,
  A400: #8fc1ff,
  A700: #75b3ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$gero_accent: (
  50: #fae5f4,
  100: #f4bee4,
  200: #ec93d2,
  300: #e467c0,
  400: #df47b3,
  500: #d926a5,
  600: #d5229d,
  700: #cf1c93,
  800: #ca178a,
  900: #c00d79,
  A100: #ffedf7,
  A200: #ffbae1,
  A400: #ff87cb,
  A700: #ff6ec0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$gero_warn: (
  50: #fce6e6,
  100: #f8c0c2,
  200: #f39799,
  300: #ee6d70,
  400: #ea4d51,
  500: #e62e32,
  600: #e3292d,
  700: #df2326,
  800: #db1d1f,
  900: #d51213,
  A100: #ffffff,
  A200: #ffd0d0,
  A400: #ff9d9e,
  A700: #ff8484,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$primary: mat-palette($gero_primary, 600, 100, 800);
$accent: mat-palette($gero_accent, 600, 100, 800);
$warn: mat-palette($gero_warn, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
$c-primary: #2597de;
$c-accent: #d926a5;
$c-success: #00df68;
$c-warning: #f39c12;
$c-danger: #e62e32;
$c-dark: #434a54;
$c-neutral: #ccd1d9;
$c-neutral: #999;
$c-neutral-light: #e8ebf0;
$c-light: #f5f7fa;
.color {
  &.success {
    color: $c-success;
  }
  &.accent {
    color: $c-accent;
  }
  &.primary {
    color: $c-primary;
  }
  &.warning {
    color: $c-warning;
  }
  &.danger {
    color: $c-danger;
  }
  &.dark {
    color: $c-dark;
  }
}

//////
$shadow: 0 2px 4px rgba(#000, 0.2);
$h-header: 5em;
$h-content: calc(100vh - #{$h-header});
$h-visu-nav: 5em;
$h-visu-filters: 4em;
$h-left-lists: calc(#{$h-content} - #{$h-visu-nav} - #{$h-visu-filters});
$h-right-volet: calc(#{$h-content} - #{$h-visu-nav});
////
.mat-raised-button {
  font-weight: 900;
  text-transform: uppercase;
  height: 3em;
  &.mat-success {
    background-color: $c-success;
    color: white;
  }
  &.mat-warning {
    background-color: $c-warning;
    color: white;
  }
  &.mat-danger {
    background-color: $c-danger;
    color: white;
  }
}

.mat-fab {
  &.mat-success {
    background-color: $c-success;
    color: white;
  }
  &.mat-warning {
    background-color: $c-warning;
    color: white;
  }
  &.mat-danger {
    background-color: $c-danger;
    color: white;
  }
}

.mat-mini-fab {
  &.mat-success {
    background-color: $c-success;
    color: white;
  }
  &.mat-warning {
    background-color: $c-warning;
    color: white;
  }
  &.mat-danger {
    background-color: $c-danger;
    color: white;
  }
}

/////////
@font-face {
  font-family: 'roboto_regular';
  src: url('../assets/fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: 'roboto_bold';
  src: url('../assets/fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
  font-family: 'roboto_light';
  src: url('../assets/fonts/RobotoCondensed-Light.ttf');
}

@font-face {
  font-family: 'roboto_italic';
  src: url('../assets/fonts/RobotoCondensed-Italic.ttf');
}

//$font-family-base: 'Roboto Condensed',
$font-family-base: 'roboto_regular', sans-serif;
@mixin font($var) {
  font-family: 'roboto_' + $var;
}

///////
html,
body,
#content {
  height: 100%;
}

main {
  height: calc(100vh - 5em);
}

#content {
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    height: 100%;
    float: left;
  }
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

i {
  font-style: normal;
  @include font('italic');
}

h1,
h2,
h3,
h4,
h5,
strong {
  font-weight: normal;
  @include font('bold');
}

visualisation {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  > div {
    height: 100%;
    position: relative;
  }
  > div.left-side {
    //overflow-y: scroll;
  }
  > div.right-side {
    float: right;
    max-width: 768px; //overflow-y: scroll;
  }
}

map {
  display: flex;
  height: 100%;
  width: 100%;
  > div.left-side {
    height: 100%;
    width: 88%;
  }
  > div.right-side {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
  }
}

////////////
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: 0.03em;
  font-family: $font-family-base;
  color: $c-dark;
  background-color: #fff;
}

body,
body * {
  &::-webkit-scrollbar-track {
    background-color: rgba($c-dark, 0.05);
  }
  &::-webkit-scrollbar {
    width: 0.25em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($c-dark, 0.3);
  }
}

#content > *:last-child {
  height: $h-content;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ulMenu {
  display: flex;
  list-style: none;
  padding-left: 0;
  width: 100%;
  margin-bottom: 0;
  li {
    cursor: pointer;
    border-bottom: none;
    text-align: center;
    color: #fff;
    i {
      font-size: 2.5em;
      font-size: 30px;
      width: 100%;
      padding-right: 0;
      color: rgba($c-neutral, 0.5);
    }
  }
}

.count {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  background-color: #fff;
  border-radius: 50%;
  min-width: 1.5em;
  min-height: 1.5em;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  letter-spacing: 0;
}

.notifIconBox {
  position: relative;
  padding: 0.5em;
  margin: 0 1em;
  &:not(.active) span {
    display: none;
  }
  span {
    @extend .count;
  }
  &.rotate i {
    transform: rotate(120deg);
  }
  &.active {
    i,
    span {
      color: $c-warning;
    }
  }
  &.active:first-child {
    i,
    span {
      color: $c-danger;
    }
  }
}

.mat-tab-group {
  .mat-tab-label {
    color: $c-neutral;
    text-transform: uppercase;
    opacity: 1;
  }
  .mat-tab-label-active {
    color: $c-primary;
  }
  &.mat-primary .mat-tab-label:focus {
    background-color: rgba(0, 0, 0, 0);
  }
  .mat-ink-bar {
    background-color: $c-primary;
    height: 4px;
  }
}

.fa-exchange {
  transform: rotate(120deg);
}

.closeBtn {
  float: right;
  font-size: 2em;
  cursor: pointer; //color: #fff;
}

.formRepeat {
  @extend .fiche;
  margin-bottom: 2em;
  h2 {
    margin-top: 0 !important;
  }
  h2 i.fa-plus {
    color: $c-success;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &.toClose {
      transform: rotate(-135deg);
      color: $c-neutral !important;
    }
  }
  p .fa-trash {
    cursor: pointer;
    float: right;
    color: $c-neutral;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:active {
      color: $c-danger;
    }
  }
}

.fiche {
  padding: 2em;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: $shadow;
  > *:first-child {
    margin-top: 0;
  }
  &.voletFull {
    margin: 2em auto;
    width: 90%;
  }
}

.neutralPage {
  background: $c-neutral-light;
  display: block;
  position: relative;
  overflow-y: auto;
  > div {
    width: 1024px;
    position: relative;
    margin: 0 auto;
    padding: 2em;
  }
}

.dividedPage {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  > .left-side {
    width: 60%;
    min-width: calc(100% - 768px);
    position: relative;
    &.cas-mode-autocomplete,
    &.list-mode-select {
      background: rgba(#000, 0.9);
      .cta {
        display: none;
      }
    }
  }
  > .right-side {
    width: 40%;
    position: relative;
    background-color: $c-light;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
}

.cta {
  position: absolute;
  right: 2em;
  bottom: 1em;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; //box-shadow: 1px 1px 1px rgba(#000, .2);
  cursor: pointer;
  background-color: $c-success;
  i {
    position: absolute;
    color: #fff;
    font-size: 1.5em;
  }
  &:hover,
  &:active {
    transition: All 0.1s ease-out; //box-shadow: 0 0 1px rgba(#000, .2);
    //transform: translate(1px, 1px)
    background-color: darken($c-success, 10%);
  }
}

.checkbox {
  display: block;
}

app-user .modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(#000, 0.9);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > div {
    @extend .fiche;
    h3:first-of-type {
      margin-top: 4em;
      /* text-align: center;
            &+p {
                text-align: center;
            }*/
    }
    .cancel {
      font-size: 1em;
    }
    &.wait {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 20em;
      min-width: 20em;
      i {
        font-size: 5em;
        line-height: 5rem;
        width: 5rem;
        color: $c-accent;
      }
    }
  }
}
