<header id="main-header">
  <div class="brand">
    <a routerLink="" class="logo">
      <img src="assets/images/logo.svg" />
    </a>
  </div>
  <div class="event">{{ participant?.event.name }}</div>

  <div id="main-menu">
    <ul>
      <li
        (click)="selectList('cas')"
        [ngClass]="{ active: showList == 'cas' }"
        goPage="cas"
        *ngIf="currentUser?.fonction != 'auditeur'"
      >
        <span class="count">{{ LIST.lists.cas.length }}</span>
        <i class="fal fa-procedures"></i>
        <span>PEC</span>
      </li>
      <li
        (click)="selectList('passage')"
        [ngClass]="{ active: showList == 'passage' }"
        goPage="passage"
        *ngIf="currentUser?.fonction != 'auditeur'"
      >
        <span class="count">{{ LIST.lists.passage.length }}</span>
        <i class="fal fa-ticket"></i>
        <span>PASSAGE</span>
      </li>
      <li
        (click)="selectList('intervention')"
        [ngClass]="{ active: showList == 'intervention' }"
        goPage="intervention"
        *ngIf="
          currentUser?.fonction == 'administrateur' ||
          currentUser?.fonction == 'pc'
        "
      >
        <span class="count">{{ counts.intervention }}</span>
        <i class="fal fa-bell"></i>
        <span>Inters</span>
      </li>
      <li
        (click)="selectList('moyen')"
        [ngClass]="{ active: showList == 'moyen' }"
        goPage="moyen"
        *ngIf="
          currentUser?.fonction == 'administrateur' ||
          currentUser?.fonction == 'pc'
        "
      >
        <i class="fal fa-ambulance"></i>
        <span>Moyens</span>
      </li>
      <li
        (click)="selectList('mcno')"
        [ngClass]="{ active: showList == 'mcno' }"
        goPage="mcno"
        *ngIf="currentUser?.fonction != 'auditeur'"
      >
        <i class="fal fa-list-ul"></i>
        <span>Mcno</span>
      </li>
      <li
        (click)="selectMap()"
        [ngClass]="{ active: showList == 'map' }"
        goPage="map"
        *ngIf="
          currentUser?.fonction == 'administrateur' ||
          currentUser?.fonction == 'pc' ||
          currentUser?.fonction == 'auditeur'
        "
      >
        <i class="fal fa-map"></i>
        <span>Map</span>
      </li>
      <li
        (click)="selectCharts()"
        [ngClass]="{ active: showList == 'statistiques' }"
        goPage="statistiques"
        *ngIf="
          currentUser?.fonction == 'administrateur' ||
          currentUser?.fonction == 'pc' ||
          currentUser?.fonction == 'auditeur'
        "
      >
        <i class="fal fa-chart-pie"></i>
        <span>stats</span>
      </li>
    </ul>
  </div>

  <div
    id="notification-menu"
    *ngIf="
      currentUser?.fonction == 'administrateur' || currentUser?.fonction == 'pc'
    "
  >
    <ul>
      <li
        [ngClass]="{ active: notifs.intervention > 0 }"
        (click)="displayNotif('intervention')"
        title="Nombre de demande d'intervention"
      >
        <span>{{ notifs.intervention }}</span>
        <i class="fal fa-bell"></i>
      </li>
      <li
        [ngClass]="{ active: notifs.regulation > 0 }"
        (click)="displayNotif('regulation')"
        title="Nombre de demande de régulation"
      >
        <span>{{ notifs.regulation }}</span>
        <i class="fal fa-exchange"></i>
      </li>
      <li
        [ngClass]="{ active: notifs.discussion > 0 }"
        (click)="displayNotif('discussion')"
        title="Nombre de discussion en cours"
      >
        <span>{{ notifs.discussion }}</span>
        <i class="fal fa-comment"></i>
      </li>
    </ul>
  </div>

  <div id="notification-menu">
    <ul>
      <li title="documentation GERO">
        <a href="http://docs.gero.fr" target="_blank">
          <i class="fal fa-info"></i
        ></a>
      </li>
    </ul>
  </div>

  <div id="user-menu" [routerLink]="'/parametres'">
    <span>
      <i class="fal fa-cog"></i>
    </span>
    <div>
      <span class="user-name"
        >{{ currentUser?.prenom }} {{ currentUser?.nom }}</span
      >
      <span class="user-poste">{{ currentUser?.poste }}</span>
    </div>
  </div>

  <div id="sync-status" [ngSwitch]="syncStatus">
    <div *ngSwitchCase="syncStatuses.Done" class="done">
      <div class="icon"><i class="far fa-check"></i></div>
      Synchro terminé
    </div>
    <div *ngSwitchCase="syncStatuses.Syncing" class="syncing">
      <div class="icon"><i class="far fa-sync fa-spin"></i></div>
      Synchro en cours
    </div>
    <div *ngSwitchDefault class="error">
      <div class="icon"><i class="far fa-exclamation-triangle"></i></div>
      Erreur de synchro
    </div>
  </div>
</header>
