:host {
  display: flex;
  justify-content: center;

  .layout {
    width: 100%;
    max-width: 330px;
  }

  .logo {
    padding: 20px 10px 15px;
    text-align: center;
  }

  form .mat-form-field {
    width: 100%;
    margin: 5px 0 10px;
    padding: 0;
  }

  form .form-actions {
    width: 100%;
    text-align: right;
  }

  .button-block {
    width: 100%;
    margin-top: 15px;
  }

  .back-button {
    width: 100%;
    line-height: 42px;
    margin-top: 5px;
  }
}
