<div class="layout">
  <div class="logo">
    <img src="assets/images/logo.svg" />
  </div>

  <ng-container *ngIf="!activationPending && !unauthorizedEvent">
    <mat-card>
      <mat-card-title>Connexion</mat-card-title>
      <mat-card-content>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
          <mat-form-field appearance="fill">
            <mat-label>Identifiant</mat-label>
            <input formControlName="identifier" matInput required />
            <mat-error *ngIf="loginForm.controls.identifier.errors?.required">
              Veuillez entrer votre adresse e-mail ou votre numéro de téléphone.
            </mat-error>
            <mat-error *ngIf="loginForm.controls.identifier.errors?.invalid">
              Aucun compte trouvé avec cet identifiant. Voulez-vous vous
              <a [href]="portalUrl + '/register'">inscrire</a> ?
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Mot de passe</mat-label>
            <input
              formControlName="password"
              matInput
              required
              type="password"
            />
            <mat-error *ngIf="loginForm.controls.password.errors?.required">
              Veuillez entrer votre mot de passe.
            </mat-error>
            <mat-error *ngIf="loginForm.controls.password.errors?.invalid">
              Mot de passe incorrect. Voulez-vous
              <a [href]="portalUrl + '/forgot'">
                réinitialiser votre mot de passe
              </a>
              ?
            </mat-error>
          </mat-form-field>

          <div class="form-actions">
            <button
              [disabled]="loginForm.invalid || loginForm.disabled"
              color="accent"
              mat-raised-button
              type="submit"
            >
              Connexion
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <a
      class="button-block"
      color="accent"
      mat-stroked-button
      [href]="portalUrl + '/register'"
    >
      Inscription
    </a>

    <a
      class="button-block"
      color="primary"
      mat-stroked-button
      [href]="portalUrl + '/forgot'"
    >
      Mot de passe oublié ?
    </a>
  </ng-container>

  <mat-card *ngIf="activationPending" class="status-card">
    <mat-card-title>Activation en attente</mat-card-title>
    <mat-card-content>
      <p>
        Votre compte n'est pas encore actif. Pour activer votre compte, vérifiez
        l'e-mail qui vous a été envoyé lors de votre inscription.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="unauthorizedEvent" class="status-card">
    <mat-card-title>Connexion impossible</mat-card-title>
    <mat-card-content>
      <p>L'événement n'existe pas ou vous n'êtes pas autorisé à y accéder.</p>
      <a
        [href]="portalUrl"
        class="back-button"
        color="primary"
        mat-raised-button
      >
        Retour a mon compte
      </a>
    </mat-card-content>
  </mat-card>
</div>
