#main-header {
    overflow: hidden;
    width: 100%;
    height: $h-header !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $c-dark; // box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.4);

    .test {
        color: #fff;
    }

    .brand {
        img {
            display: inline-block;
            margin-left: 1em;
        }
    }
    .event{
        color: #fff;
        font-size: 1.8em;
        text-transform: uppercase;
        font-style: bold;
        }

    #main-menu,
    #notification-menu {
        font-size: .8em;

        ul {
            @extend .ulMenu;
        }

        .sub-menu li a {
            text-align: left;
        }
    }

    #main-menu {
        li {
            padding: 1em;
            position: relative;

            span:last-child {
                padding-top: .5em;
                display: block;
                opacity: .8;
            }

            i,
            span {
                color: $c-neutral;
            }

            .count {
                color: $c-dark;
                background-color: $c-neutral;
            }

            &:focus,
            &:active,
            &:hover,
            &.active {
                outline: none;

                i,
                span {
                    color: $c-primary;
                }

                .count {
                    color: #fff;
                    background-color: $c-primary;
                }
            }
        }
    }

    #notification-menu {
        li {
            @extend .notifIconBox;
        }
    }

    #user-menu {
        cursor: pointer; //background-color: $c-primary;
        height: 100%;
        padding: 1em;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #000;
        color: $c-primary;

        a[href="choisir-poste"] {
            color: #fff;
        }

        div {
            display: flex;
            flex-direction: column;
            padding: 1em;
        }

        span {
            font-size: 1em;
            line-height: 1.2em;

            .user-name {
                //color: #000;
                //color: $c-primary;
                font-size: 1.1em;
            }
        }

        .fa-user,
        .fa-cog {
            font-size: 2em; //color: #fff;
            //color: $c-primary;
        }

        .user-poste {
            color: #fff;
        }
    }

    #sync-status {
        display: flex;
        align-items: center;
        color: #fff;
        padding: 1rem;
        text-align: center;

        .icon {
            font-size: 20px;
            margin-bottom: 7px;
        }

        .syncing {
            color: $c-accent;
        }

        .done {
            color: $c-success;
        }

        .error {
            color: $c-danger;
        }
    }

}
