div#kc-form {
    max-width: 40rem;
    padding: 4em;
    background-color: #fff;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

div#kc-content-wrapper.row {
    display: flex;
    justify-content: center;
}

div#kc-content {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    padding: 0;
    background: transparent;
}

.form-group div:first-child {
    color: #434A54;
    text-align: right;
    height: 3em;
    line-height: 3em;
}

.form-group div:last-child input {
    height: 3em;
}

label.control-label {
    margin-top: 0;
}

input#kc-login {
    background: #00DF68;
    border: none;
    padding: 0 2em;
    text-transform: uppercase;
}