navigation {
    position: fixed;
    height: 100%;
    padding-top: 5em;
    left: 0;
    top: 0;
    background-color: $c-dark;
    z-index: 9;
    #main-nav {
        width: 6em;
        font-size: .8em;
        width: 100%;
        ul {
            padding-bottom: 10em;
            display: flex;
            flex-direction: column;
            list-style: none;
            padding-left: 0;
            width: 100%;
            li {
                cursor: pointer;
                border-bottom: none;
                text-align: center;
                padding: 1em .5em;
                color: #fff;
                i {
                    font-size: 3em;
                    width: 100%;
                    padding-right: 0;
                }
                span {
                    padding-top: .5em;
                    display: block;
                }
                &:focus,
                &:active,
                &:hover,
                &.active {
                    outline: none;
                    background: #000;
                }
            }
        }
        .sub-menu li a {
            text-align: left;
        }
    }
}