ui {
    overflow: scroll;
    width: 100%;
    height: 100%;
    .container {
        padding: 5em 0 5em;
    }
    h1 {}
    h2 {
        margin: 2em 0 1em;
    }
    .row {
        margin-bottom: 2em;
    }
    a.btn {
        margin-right: 1em;
    }
    pre {
        position: absolute;
        right: 0;
        background: #bada55;
        padding: .5em;
    }
}