<div class="toolbar">

    <div>
        <input [owlDateTime]="picker1" [owlDateTimeTrigger]="picker1" placeholder="Date de début"
            [(ngModel)]="startDate" (dateTimeInput)="changeStartDate()" readonly>
        <owl-date-time #picker1></owl-date-time>
        <span [owlDateTimeTrigger]="picker1" class="fa fa-calendar"></span>
    </div>
    <div>
        <input [owlDateTime]="picker2" [owlDateTimeTrigger]="picker2" placeholder="Date de fin"
            [(ngModel)]="endDate" (dateTimeInput)="changeEndDate()" readonly>
        <owl-date-time #picker2></owl-date-time>
        <span [owlDateTimeTrigger]="picker2" class="fa fa-calendar"></span>
    </div>
    <div>
        <a class="btn accent" (click)="generatePDF()">PDF</a>
    </div>

</div>
<!--
<section>

    <chart-block *ngFor="let chart of charts.getArray()" [chart]="chart"></chart-block>
</section>
-->
<h1>Information Patient</h1>
<section id="info">

    <chart-block [chart]="charts.get('sexe')"></chart-block>
    <chart-block [chart]="charts.get('age')"></chart-block>
    <chart-block [chart]="charts.get('nationality')"></chart-block>
    <chart-block [chart]="charts.get('type')"></chart-block>

</section>
<h1>L'événement en direct</h1>
<section id="live">
    <chart-block [chart]="charts.get('actual')"></chart-block>
    <chart-block [chart]="charts.get('hour')"></chart-block>
    <chart-table [chart]="charts.get('hour')"></chart-table>


    <chart-block [chart]="charts.get('reason')"></chart-block>
    <chart-block [chart]="charts.get('reseonperposte')"></chart-block>
    <chart-block [chart]="charts.get('hospital')"></chart-block>

</section>
<h1>Bilan de l'événement</h1>
<section id="bilan">

    <chart-block [chart]="charts.get('coming')"></chart-block>
    <chart-block [chart]="charts.get('becoming')"></chart-block>
    <chart-block [chart]="charts.get('vehicule')"></chart-block>
    <chart-table [chart]="charts.get('coming')"></chart-table>
    <chart-table [chart]="charts.get('becoming')"></chart-table>
    <chart-table [chart]="charts.get('vehicule')"></chart-table>
</section>
<!--
        <section>
    <article *ngFor="let chart of charts.getArray()">

        <h2>{{chart.title}}</h2>

        <ng-container *ngIf="chart.chartdata.length > 0; else loading" [ngSwitch]="chart.type" class="chart">
            <div class="chartImg">
                <ngx-charts-bar-vertical [id]="chart.name" *ngSwitchCase="'bar'" [scheme]="chart.scheme" [results]="chart.chartdata"
                    yScaleMin="0" xAxis="true" yAxis="true" roundEdges="" legend="false">
                </ngx-charts-bar-vertical>
                <ngx-charts-line-chart [id]="chart.name" *ngSwitchCase="'line'" [scheme]="chart.scheme" [results]="chart.chartdata"
                    [curve]="curve" [animations]="false" [showRefLabels]="false" [gradient]="false" yScaleMin="0" xAxis="true"
                    yAxis="true" legend="true" legendPosition="'below'">
                </ngx-charts-line-chart>
                <ngx-charts-bar-vertical-2d [id]="chart.name" *ngSwitchCase="'bar2d'" [scheme]="chart.scheme" [results]="chart.chartdata"
                    yScaleMin="0" xAxis="true" yAxis="true" roundEdges="" legend="true" legendPosition="'below'">
                </ngx-charts-bar-vertical-2d>
                <ngx-charts-pie-chart [id]="chart.name" *ngSwitchCase="'pie'" [scheme]="chart.scheme" [results]="chart.chartdata"
                    labels="false" legend="false">
                </ngx-charts-pie-chart>

            </div>
        </ng-container>

        <div class="data_table">
            <table mat-table [dataSource]="chart.tabledata" *ngIf="chart.chartdata.length > 0; else loading" [ngSwitch]="true">
                <ng-container *ngSwitchCase="chart.type === 'bar'">
                    <ng-container *ngFor="let col of chart.cols; let i = index;" [matColumnDef]="col">
                        <th mat-header-cell *matHeaderCellDef> {{ col }}</th>
                        <td mat-cell *matCellDef="let element; let j = index;">
                            {{ i == 0 ? chart.rows[j] :element.value }}
                        </td>
                    </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="chart.type === 'pie'">
                    <ng-container *ngFor="let col of chart.cols; let i = index;" [matColumnDef]="col">
                        <th mat-header-cell *matHeaderCellDef> {{ col }}</th>
                        <td mat-cell *matCellDef="let element; let j = index;">
                            {{ i == 0 ? chart.rows[j] :element.value }}
                        </td>
                    </ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="chart.type === 'bar2d' || chart.type === 'line'">
                    <ng-container *ngFor="let col of chart.cols; let i = index;" [matColumnDef]="col" sticky="{{!i?'true':'false'}}">
                        <th mat-header-cell *matHeaderCellDef>
                            {{ i ? col : '' }}</th>
                        <td mat-cell *matCellDef="let element; let j = index;">
                            {{ i ? element[i -1] : chart.rows[j] }}
                        </td>
                    </ng-container>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="chart.cols; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: chart.cols;"></tr>
            </table>
        </div>





        <ng-template #loading>
            <ng-container *ngIf="chart.loading;else nodata">
                <div class="waitingChart">
                    <i class="fas fa-spinner-third fa-spin"></i>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #nodata>
            <div class="waitingChart">
                No Data
            </div>
        </ng-template>
    </article>

    </section>
-->
