@include mobile {

    #main-header {
        justify-content: space-around;


        #user-menu,
        #user-settings,
        #notification-menu {
            display: none;
        }

        #main-menu li:not(:last-child) {
            display: none;

        }


    }




}