@mixin tablet_mode {

    overflow-x: hidden;

    >.left-side {
        width: 100%;
    }

    >.right-side {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        padding-top: $h-visu-nav;
        transform: translateX(100%);
        width: 100%;
        max-width: 768px;
        transition: all .4s ease-out;

        &.show {
            transform: translateX(0);
        }
    }

    volet-tablette-header {
        position: absolute;

        &.cas,
        &.intervention,
        &.moyen {
            display: flex;
        }

        >div:first-child {
            width: calc(100% - #{$h-visu-nav});
        }

        >div:last-child {
            display: flex;
        }
    }


    #main-header {

        #notification-menu,
        .event {
            display: none;
        }
    }

}




@media screen and (max-width: 1280px) {

    /*  visualisation.cas,
    visualisation.moyen {
        @include tablet_mode;
    }*/
    visualisation {
        @include tablet_mode;
    }
}



@include up_to_desktop {

    /*  visualisation.intervention {
        @include tablet_mode;
    }*/
}