/* Small screens (default) 
html {
    font-size: 100%;
}
*/
/* Medium screens (640px) 
@media (min-width: 40rem) {
    html {
        font-size: 112%;
    }
}
*/
/* Large screens (1024px)
@media (min-width: 64rem) {
    html {
        font-size: 120%;
    }
}
 */






$tablet-min-width: 768px;
$tablet-max-width: 1024px;
$desktop-width : 1920px;



@mixin mobile {
    @media (max-width: 767px) {
        @content;

    }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;

    }
}

@mixin tablet_only {
    @media (min-width: 768px) and (max-width: 1023px) {
        @content;

    }
}

@mixin laptop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin up_to_desktop {
    @media (max-width: 1920px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1920px) {
        @content;
    }
}

/*  
//////////////////////////////
TEST
//////////////////////////////
*/

.qtest {
    display: none;
    position: absolute;
    top: 0;
    height: 1em;
    width: 100%;
    background: red;

    &:before {
        content: "no query";
        position: absolute;
        color: #fff;
    }
}







@include mobile {

    .qtest:before {
        content: " mobile "
    }


}

@include tablet {
    .qtest:before {
        content: " tablet "
    }
}

@include tablet_only {
    .qtest:before {
        content: " tablet_only "
    }
}

@include laptop {
    .qtest:before {
        content: " laptop"
    }
}

@include desktop {
    .qtest:before {
        content: " desktop"
    }
}