@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.pulsate {
    animation: pulsate 0.9s ease-in-out infinite backwards;
}

@keyframes jingle-bell {
    0% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
    10% {
        transform: translateX(-30%) rotate(10deg);
    }
    20% {
        transform: translateX(15%) rotate(-10deg);
    }
    35% {
        transform: translateX(-15%) rotate(6deg);
    }
    50% {
        transform: translateX(9%) rotate(-4deg);
    }
    65% {
        transform: translateX(-6%) rotate(2deg);
    }
    100% {
        transform: translateX(-6%) rotate(2deg);
    }
}

.jingle-bell {
    animation: jingle-bell 0.8s 1s infinite both;
}