.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5em;
  text-align: center;
  text-transform: uppercase; //font-weight: $f-bold;
  @include font('bold');
  box-shadow: 0 0.05em 0px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:not([href]) {
    color: #fff
  }

  &:focus,
  &:active,
  &:hover,
  &.active {
    &:not(.disabled) {
      transition: all .2s ease-out;
      transform: translateY(0.05em);
      box-shadow: 0 0 0 rgba(#000, .2);
    }
  }

  &.disabled {
    color: rgba($c-neutral, .5) !important;
    border: 1px solid rgba($c-neutral, .3) !important;
    box-shadow: none !important;
    background-color: transparent !important;
    cursor: default !important;

  }

  &.success {
    background-color: $c-success;
  }

  &.warning {
    background-color: $c-warning;
  }

  &.danger {
    background-color: $c-danger;
  }

  &.primary {
    background-color: $c-primary;
  }

  &.accent {
    background-color: $c-accent;
  }
}

.btn-warning,
.btn-warning:hover {
  color: #fff;
}

.btn-link {
  box-shadow: none;
}

button:focus {
  outline: none;
}

.action {
  //text-align: right;
  padding: 2em 0;
  display: flex;
  justify-content: flex-end;
}

form-switch,
form-switch-multi-select,
mat-button-toggle-group.mat-button-toggle-group {
  max-width: 100%;
  display: flex;
  text-align: center; // align-content: stretch;
  box-shadow: none;
  flex-direction: row;
  flex-wrap: wrap;

  mat-button-toggle {
    //flex-grow: 1;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: .25em;

    &+mat-button-toggle {
      //border-left: none;
    }

    &:last-child {
      border-radius: 0 .25em .25em 0;
    }

    &:first-child {
      border-radius: .25em 0 0 .25em;
      margin-left: 1px;
    }

    &:not(:last-child) {
      // border-right: 1px solid rgba(0, 0, 0, .2);
    }
  }

  .mat-button-toggle-checked {
    background-color: $c-accent;
    color: #fff;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2);
  }

  &.urgence .mat-button-toggle-checked {
    &:nth-child(1) {
      background-color: $c-danger
    }

    &:nth-child(2) {
      background-color: $c-warning
    }

    &:nth-child(3) {
      background-color: $c-primary
    }
  }

  &.m-f .mat-button-toggle-checked {
    &:nth-child(1) {
      background-color: $c-primary
    }

    &:nth-child(2) {
      background-color: $c-accent
    }
  }
}

.mat-button-toggle-group {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2), -1px -1px 1px rgba(0, 0, 0, .2);
}

[ngbDropdown] {

  .dropdown,
  .dropdown-toggle {
    cursor: pointer;
    background: #fff;
    padding: .5em 1em;
    color: $c-dark;
    border: 1px solid $c-neutral;

    &::after {
      margin-left: 1.5em;
    }
  }

  .dropdown-menu {
    margin-top: 0;

    .dropdown-item {
      padding: .5em 1em;
      min-width: 100%;
    }
  }
}

button[mat-button],
button[mat-stroked-button] {
  &[color=success] {
    color: $c-success;
  }

  &[color=danger] {
    color: $c-danger;
  }

  &[color=primary] {
    color: $c-primary;
  }

  &[color=accent] {
    color: $c-accent;
  }

  &[color=warning] {
    color: $c-warning;
  }
}

.link {
  text-decoration: underline;
  cursor: pointer;

  &.success {
    color: $c-success;
  }

  &.danger {
    color: $c-danger;
  }

  &.primary {
    color: $c-primary;
  }

  &.accent {
    color: $c-accent;
  }

  &.warning {
    color: $c-warning;
  }
}
