form {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    form-button {
        text-align: right; //margin-top: 4em;
        width: 100%;
    }

    form-input,
    form-switch,
    form-switch-multi-select,
    form-address,
    form-select {
        margin-top: 2em;
        max-width: 100%;
    }

    .mat-form-field {
        width: 100%;
    }

    mat-button-toggle-group.mat-button-toggle-group {
        width: auto !important;
    }

    form-switch,
    form-switch-multi-select {
        position: relative;
        text-align: left;
        align-items: flex-start;
        display: flex;
        flex-direction: column;

        >div:first-child {
            //position: absolute;
            //transform: translateY(-140%);
            color: rgba($c-dark, .5);
        }
    }

    form-separator {
        width: 100%;
        padding: 0 .5em;

        &:not(:first-child) h2 {
            padding-top: 3em;
        }

        h2 {
            text-align: left;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            font-size: 1em;
        }
    }

    form-file {
        input[type=file] {
            display: none;
        }

        .file-label {
            cursor: pointer;
            color: $c-success;
            border: $c-success 1px solid;
            padding: .5em;
            display: block;
            text-align: center;
        }

        .file-display {
            text-align: center;
            background: $c-dark;
            padding: .5em;

            img {
                max-width: 100%;
            }
        }
    }

    textarea.mat-input-element {
        // min-height: 10em;
        padding: .5em;
    }

    form-checkbox-group,
    form-checkbox {
        display: -webkit-box;
        padding: 1em !important;
        align-self: center;

        .mat-checkbox-layout {
            margin: 0 1em 1em 0;
        }
    }

    .grid {
        padding: 0 .5em;

        >* {
            margin-left: 0;
            width: 100%;
        }
    }

    [class*=grid] {
        @extend .grid;
    }

    .grid-full {
        width: 100%;
        max-width: 100%;
    }

    .grid-demi {
        width: 50%;
    }

    .grid-tier {
        width: 33.33%;
    }

    .grid-2tier {
        width: 66.66%;
    }

    .grid-quart {
        width: 25%;
    }

    .grid-3quart {
        width: 45%;
    }

    >*:not([class*=grid]):not(form-separator):not(form-button):not([class*=leaflet]) {
        @extend .grid;
        @extend .grid-demi;
    }
}