.table {
    width: 100%;
    @include font('light');

    tbody {
        tr {
            th {
                text-transform: uppercase;
            }

            td,
            th {
                position: relative;
                text-align: left;
                padding: .5em 1em;

                &:first-child {
                    //border-left: 1em solid #CCD1D9;
                    // padding-left: 3em;
                }

                /* &:first-child:before {
                    content: "";
                    background: #CCD1D9;
                    position: absolute;
                    width: 1.5em;
                    z-index: 10;
                    left: 0;
                    top: 0;
                    height: 100%;
                }*/
            }

            &.warning {
                >td:first-child:before {
                    background-color: $c-warning;
                }
            }

            &.danger {
                >td:first-child:before {
                    background-color: $c-danger;
                }
            }

            &.disponible {
                >td:first-child:before {
                    background-color: $c-success;
                }
            }
        }
    }
}