.toolbar {
    display: flex;
    flex-wrap: wrap;

    background-color: #fff;
    color: $c-dark;
    width: 100%;
    margin: 2em auto;
    font-size: .9em;
    min-height: 3em;

    >div {
        display: block;
        padding: .5em 1em;
        flex-direction: column;
        justify-content: center;

        &:not(:last-child) {
            border-right: 1px solid $c-light;
        }

        >span {
            padding-left: 5px;
        }
    }


    z-index: 1;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);

}