login-element {
    position: fixed;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: $c-dark;
    article {
        @extend .fiche;
        min-width: 20em;
        min-height: 15em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .btn {
            width: 100%;
            min-height: 3em;
        }
        .error {
          max-width: 330px;
          color: #A00;
        }
    }
}
