mcno {
    position: fixed;
    width: 100%;
    overflow-x: hidden;
    background: $c-neutral-light;
    z-index: 100;
    .transition {
        transition: all .3s ease-in-out;
    }
    section {
        header>div {
            display: flex;
            align-items: center;
            /*>* {
                width: 33%;
            }*/
            .mat-form-field {
                width: 45%;
            }
            .mat-paginator {
                background-color: transparent;
                width: 45%;
            }
            >button {
                width: 55px;
                height: 25px;
            }
        }
    }
    >section,
    >div {
        padding: 2em;
        height: $h-content;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        visibility: hidden;
        @extend .transition;
        &.open {
            visibility: visible;
            background: rgba(#000, .7);
        }
    }
    .volet {
        position: absolute;
        width: 40%;
        right: 0;
        bottom: 0;
        top: 0;
        padding-top: 4em;
        overflow: hidden;
        overflow-y: scroll;
        background-color: $c-light;
        border-left: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 0 0 0.5em rgba(0, 0, 0, .2);
        transform: translateX(100%);
        @extend .transition;
        &.open {
            transform: translateX(0);
        }
    }
    h1 {
        text-transform: uppercase;
        text-align: center;
        padding: 2em 0 1em 0;
    }
    article {
        @extend .fiche;
        margin-top: 1.5em;
    }
    .cta {
        z-index: 100;
        top: 2em;
        transform: rotate(0);
        transition: all 1.2s ease-in-out;
        &.toClose {
            transform: rotate(-45deg);
            color: $c-neutral;
            background: $c-danger;
        }
    }
}