parametres {
    @extend .neutralPage;
    aside {
        width: 33.33%;
        padding-right: 1em;
        li {
            cursor: pointer;
            text-transform: capitalize;
            list-style: none;
        }
    }
    aside+div {
        width: 66.66%;
        padding-left: 1em;
    }
    #main {
        display: flex;
        >aside {
            border-right: 1px solid $c-neutral;
            ul {
                padding: 0;
            }
            li {
                text-align: right;
                @include font('light');
                margin-bottom: 1em;
            }
        }
        param-admin {
            display: flex;
            aside {
                li {
                    text-align: left;
                    margin-bottom: .5em;
                    button {
                        margin-bottom: .5em;
                    }
                }
            }
            dynamic-form form {
                @extend .fiche;
            }
        }
    }
}