statistiques {

    background-color: $c-light;
    display: block;
    @extend .scroll;
    height: auto !important;

    .hideLabels {
        g[ngx-charts-pie-label] {
            display: none;
        }

    }

    .toolbar {
        margin: 0 0 0 0;

        >div {
            display: flex;
            justify-content: left;
            align-items: center;
            flex-direction: row;
            padding: 1em 2em 1em 1em;

            input:text {
                -webkit-appearance: none;
                padding: .5em;
                background: $c-light
            }
        }

    }

    h1 {
        padding: 1em 1em 1em;
        text-align: center;
        background: #fff;
        margin: 2em 0 0;
        text-transform: uppercase;
    }

    >section {
        background: #fff;
        border-bottom: 1px solid $c-neutral;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 2em;

        h2 {
            text-align: center;
        }

        &#info {

            .data_table {
                display: none;
            }

            svg>g.pie-chart {
                transform: translate(50%, 50%);
            }

        }

        &#live {}

        &#bilan {}

        article {
            display: block;
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            div.chartImg .ngx-charts-outer {
                position: relative;
                height: 0;
                width: 100%;
                padding: 0;
                padding-bottom: calc(100% + 100px);

                svg {
                    position: absolute;
                    height: calc(100% + 100px);
                    width: 100%;
                    left: 0;
                    top: 0;


                }
            }


            .data_table {
                overflow: auto;
                max-width: 100%;
                width: 100%;
                margin-top: 2em;




                &::-webkit-scrollbar,
                &::-webkit-scrollbar:horizontal {
                    width: .75em;
                }





            }
        }



        [legend=false] .chart-legend {
            display: none;
        }

        .waitingChart {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            i {
                color: $c-accent;
                font-size: 2em;
            }
        }

        table {

            width: 100%;

            th,
            td {
                font-size: .8em;
            }

            tr {
                &:nth-child(even) {
                    background-color: $c-light
                }
            }

            th,
            tr.mat-row {
                height: 2.5em;
            }

            td.mat-cell {
                border-bottom: none;
                padding: 0 .5em;
                text-align: center;
            }

            th.mat-header-cell {
                padding: 0 .5em;
                text-align: center;
            }

            td.mat-cell:first-of-type,
            th.mat-header-cell:first-of-type {
                padding-left: 0;
                border-right: 1px solid #e8e8e8;
            }
        }

        .mat-cell,
        th.mat-header-cell {
            padding-left: 3px;
            padding-right: 3px;
        }




    }

    @include mobile {

        >section {
            article {
                padding: 1em;

                svg>g.bar-chart,
                svg>g.line-chart {

                    transform: translate(4em, 2em);
                }

                h2 {
                    padding: .5em;
                    text-align: center;
                }
            }

        }

    }


    @include tablet_only {
        >section article {
            padding: 1em;
            margin-bottom: 4em;

            svg>g.pie-chart {
                transform: translate(50%, 50%);
                padding: 4em;
            }

            svg>g.bar-chart,
            svg>g.line-chart {
                transform: translate(3em, 3em);
            }

            svg>g.number-card {
                transform: translate(1em, 2em);
            }
        }
    }


    @include laptop {


        >section {
            display: grid;
            padding: 2em;
            grid-gap: 2em;
            grid-template-columns: repeat(2, minmax(320px, 1fr));

            article {


                svg>g.bar-chart,
                svg>g.line-chart {

                    transform: translate(2em, 2em);
                }


            }
        }

    }

    @include desktop {

        padding: 2em;

        >section {
            grid-template-columns: repeat(3, minmax(320px, 1fr));

            &#info {

                grid-template-columns: repeat(4, minmax(320px, 1fr));


            }

            &#live {
                grid-template-columns: repeat(3, minmax(320px, 1fr));


            }

            &#bilan {
                grid-template-columns: repeat(3, minmax(320px, 1fr));

            }

        }

    }



}