visualisation {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    @extend .dividedPage;

    /*.modale {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(#000, .9);
    }
    */
    .empty-list {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: rgba($c-dark, .4);
        @include font('bold');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loader {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; // background: red;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 3em;
            color: $c-accent;
        }
    }

    /*button[mat-icon-button] {
        i {
            color: #fff;
            font-size: 1.5em;
        }
    }*/
    #visu-nav {
        display: flex;
        height: $h-visu-nav;
        align-items: center;
        padding-left: 1em;
        padding-right: 2em;

        ul {
            @extend .ulMenu;

            li {
                i {
                    color: $c-dark;
                }

                span {
                    color: $c-dark;
                    font-size: .6em;
                    text-transform: uppercase;
                }

                &:hover,
                &:focus,
                &:active,
                &.active {

                    span,
                    i {
                        color: $c-primary;
                    }
                }
            }
        }

        >div {}
    }

    .scroll {
        overflow-y: scroll;
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }

    /* //// CAS //// */
    .list-cas {
        cas {
            //max-width: 50em;
            margin-bottom: .75em;
        }
    }

    #list-cas {
        overflow-x: hidden;
        padding: 2em;
        @extend .scroll;
        height: $h-left-lists;
        @extend .list-cas;
    }
    /* //// PASSAGE //// */
    .list-passage {
        passage {
            //max-width: 50em;
            margin-bottom: .75em;
        }
    }
    #list-passage {
        overflow-x: hidden;
        padding: 2em;
        @extend .scroll;
        height: $h-left-lists;
        @extend .list-cas;
    }
}

#list-moyens {
    @extend .scroll;
    height: $h-left-lists;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    padding: 2em;
    align-content: baseline;

    @media screen and (min-width: 1919px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

#list-interventions {
    @extend .scroll;
    height: $h-left-lists;
    width: calc(100% - 4em);
    margin: 0 auto;
    padding: 1.5em;
}

filtre-cas,
filtre-intervention,
filtre-passage,
filtre-moyen {
    .wait {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    >div[class^=ligne] {
        display: flex;
        text-transform: uppercase;
        background-color: $c-light;
        color: $c-dark;
        width: calc(100% - 4em);
        margin: 1em auto 0;
        font-size: .9em;

        &.ligne1 {
            padding-right: 3em;
            z-index: 1;
            position: relative;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
        }

        &.ligne2 {
            min-height: 3em;
            margin-top: 0;
            transform: translateY(-100%);
            transition: transform ease-in-out .3s;

            &.show {
                transform: translateY(0);
            }
        }

        &.ligne3 {
            padding-right: 3em;
            min-height: 2em;
            margin-top: 0;
            transition: transform ease-in-out .3s;

        }

        >div {
            display: flex;
            padding: .5em 1em;

            &:not(:last-child) {
                border-right: 1px solid #fff;
            }

            &.filtre_place_switch,
            &.filtre_state {
                // switch poste/zone
                // switch en cours/clos
                flex-direction: column;
                justify-content: center;

                span {
                    cursor: pointer;
                }

                span.active {
                    color: $c-accent;
                }
            }

            &.filtre_place_select{
                .mat-select-value{
                    max-width: 18em;
                }
                // select poste/zone
                // select input
                display: flex;
                align-items: center;

                .mat-select,
                p {
                    // width: 10em;
                    // min-width: 8em;
                    max-width: 12em;
                    margin: 0;

                    &.active {
                        color: $c-primary;
                    }
                }
            }

            
            &.filtre_search {
                // select poste/zone
                // select input
                display: flex;
                align-items: center;

                .mat-select,
                p {
                    // width: 10em;
                    // min-width: 8em;
                    max-width: 12em;
                    margin: 0;

                    &.active {
                        color: $c-primary;
                    }
                }

                .mat-select-value {
                    color: $c-primary;
                    max-width: 18em;
                }

                input {
                    min-width: 15em;
                    height: 80%;
                    padding: .5em;
                    margin-left: 1em;
                }
            }

            &.filtre_pictos {
                // pictos
                display: flex;
                justify-content: space-around;
                min-width: 10em;
                align-items: center;

                i {
                    cursor: pointer;
                    font-size: 1.5em;
                }

                i.active {
                    color: $c-accent;
                }
            }

            &.filtre_toggle,
            &.filtre_casmode {
                align-self: center;

                i {
                    cursor: pointer;
                    color: $c-dark;

                    &[class*=eye] {
                        font-size: 1.5em;
                    }

                    &[class*=angle] {
                        font-size: 2em;
                    }
                }
            }

            &.filtre_reset {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                right: 0;
                height: 100%;

                .closeBtn {
                    font-size: 1em;
                }
            }

            &.filtre_csv {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                >button {
                    border: 1px solid black;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 80%;
                    font-size: .8em;
                }
            }
        }
    }
}

filtre-moyen {
    .filtre_type_list {
        justify-content: space-around;
        width: 100%;
        height: 2em;
        align-items: center;

        span {
            cursor: pointer;

            &.active {
                color: $c-primary;
            }
        }
    }
    .filtre_etat_list {
        justify-content: space-around;
        width: 100%;
        height: 2em;
        align-items: center;
        margin: 0em auto 0;

        span {
            cursor: pointer;

            &.active {
                color: $c-primary;
            }
        }
    }
}

[class^=pagination] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
    z-index: 1;

    span {
        display: block;
        cursor: pointer;
        background-color: rgba($c-dark, .6);
        width: 5em;
        height: 5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .75em;
        transition: all .1s ease-in;
    }

    i {
        color: #fff;
        transition: all .1s ease-in;
    }

    &.pagination-left {
        left: 0;

        span {
            text-align: right;
            transform: translateX(-3em);
            border-radius: 0 50% 50% 0;

            &:hover,
            &:active,
            &:focus {
                transform: translateX(-2em);
                background-color: rgba($c-dark, .8);

                i {
                    transform: translateX(-.5em);
                }
            }
        }
    }

    &.pagination-right {
        right: 0;

        span {
            text-align: left;
            transform: translateX(-1em);
            border-radius: 50% 0 0 50%;

            &:hover,
            &:active,
            &:focus {
                transform: translateX(-2em);
                background-color: rgba($c-dark, .8);

                i {
                    transform: translateX(.5em);
                }
            }
        }
    }
}

order-cas {
    border: transparent 2px solid;
    display: flex;
    justify-content: space-between;
    text-align: left;
    transition: all .1s ease-in;
    color: $c-neutral;
    width: 100%;
    @include font('regular');
    padding-bottom: .25em;

    >div {
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.urgence {
            padding: 0;
            width: 4em;

            span {
                width: 1.6em;
                margin: 0 auto;
            }
        }

        &.niv {
            width: 14em;
        }

        &.nom {
            width: 14em;
        }

        &.nom+.niv {
            width: 12em;
        }

        &.age {
            width: 10em;
        }

        &.date {
            width: 4em;
        }

        &.date~div {
            width: 4em;
        }
    }

    span {
        position: relative;
        font-size: .9em;
        cursor: pointer;

        i {
            position: absolute;
            display: none;
            font-size: .9em;
            left: -1em;
            top: 2px;
        }

        &.asc {
            color: $c-primary;

            i {
                display: inline-block;
                @extend .fa-arrow-up;
            }
        }

        &.desc {
            color: $c-primary;

            i {
                display: inline-block;
                @extend .fa-arrow-down;
            }
        }
    }
}