.cancel {
  color: $c-danger;
  color: $c-neutral;
  text-decoration: underline;
  font-size: .8em;
  cursor: pointer;
}

.loadingBtn {
  position: relative;
  z-index: 10;

}

.loadScreen {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($c-light, .1);

  }

  i {
    font-size: 3em;
    color: $c-accent;
  }

  &.show {
    display: flex;

    div {
      transition: background-color 2s ease-in-out;
      background-color: rgba($c-light, .8);

    }

  }
}

volet-tablette-header {
  height: $h-visu-nav; //position: absolute;
  width: 100%;
  top: 0;
  background-color: $c-neutral;
  display: flex;
  align-items: center;

  &.intervention,
  &.moyen {
    display: none;
  }

  &.u1 {
    background-color: $c-danger
  }

  &.u2 {
    background-color: $c-warning
  }

  &.u3 {
    background-color: $c-primary
  }

  &.hide {
    display: none;
  }

  >div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  >div:first-child {
    width: 100%;

    cas {
      width: 90%;
    }
  }

  >div:last-child {
    display: none;
    width: $h-visu-nav;
    height: $h-visu-nav; //background-color: $c-accent;

    i {
      color: $c-dark;
    }
  }
}

.volet {
  position: absolute;
  top: 0;
  background: #fff;
  width: 100%;
  height: $h-content;
  z-index: 10;
  padding-bottom: 1em;

  h1 {
    padding: 1em;
    text-align: center;
  }

  >div {
    width: 100%;
    height: 100%;
  }

  /* volet-tablette-header:not(.hide)+section,
    volet-tablette-header:not(.hide)+volet-form {
        height: calc(100% - 9em);
    }*/
  >section,
  volet-form {
    height: 100%;
    overflow-y: scroll;
  }

  .waitPicto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: $c-accent;
  }
}

volet-form {
  @extend .volet;
  background-color: $c-light;
  transition: all .5s ease-out;
  padding: 4em 2em 2em;
  transform: translateX(100%);

  &.open {
    transform: translateX(0);
  }

  &.close {
    transform: translateX(100%);
  }

  .simpleForm form {
    background: #fff;
    padding: 1em;
  }

  h1 {
    text-align: left;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 2em 0;
    @include font('light');
  }

  .closeBtn {
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: .5em;
    right: .5em;
    color: $c-neutral;
  }

  conclusion-courier-form textarea.mat-input-element {
    min-height: 15em;
  }
}

/* details */
detail-menu {
  ul {
    background-color: #fff;
    margin: 0;
    padding-top: .5em;
    width: 100%;
    @extend .ulMenu;
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);

    li {
      width: 25%;
      @extend .notifIconBox;
      padding: 1em .5em .5em .5em;

      i.fa,
      i.fal {
        font-size: 2em;
      }

      &.selected {
        background-color: $c-light;
        box-shadow: 0 0 4px rgba(0, 0, 0, .2);

        &:after {
          content: "";
          width: 100%;
          height: 10px;
          background-color: $c-light;
          position: absolute;
          left: 0;
          bottom: -10px;
        }
      }

      i {
        color: $c-dark
      }

      &:nth-child(1) i {
        color: $c-primary;
      }

      &.success {

        i.fa,
        i.fal {
          color: $c-success
        }
      }
    }
  }
}

.detail-cas {
  >div {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  p {
    @include font('bold');
  }

  >div:first-child {
    @extend .fiche;
    text-align: left;
    color: $c-dark;

    div {
      p {
        span {
          &:first-child {
            min-width: 3em;
            display: inline-block;
          }

          &:last-child {
            margin-left: 1em;
            @include font('regular');
          }
        }
      }
    }

    >p:last-child {
      @include font('regular');
      background: $c-light;
      padding: 1em;
    }
  }

  >div:last-child {
    >div>p {
      padding-top: 2em;
      text-align: left;
      color: $c-neutral;
      width: 24em;
      margin: 0 auto;
    }
  }

  .action {
    text-align: right;
  }

  cas {
    margin: 0 auto 2em;
  }
}

#detail-content {
  padding: 2em;
  @extend .scroll;
  padding-bottom: 10em;
  max-height: calc(#{$h-content} - #{$h-visu-nav});

  .mat-tab-body-content {
    padding: 2em 0;
  }

  .mat-expansion-panel-header {
    height: 4em !important;

    .mat-expanded {
      //background-color: $c-light;
    }
  }

  h2 {
    cursor: pointer;
    border-bottom: 1px solid rgba($c-dark, .5);
    color: rgba($c-dark, .5);
    color: $c-dark;
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
    padding-bottom: .5em;
    text-transform: uppercase;
    margin: 2em 0 .5em;

    i.fa,
    i.fal {
      position: absolute;
      right: 0;
      font-size: 1em;
      color: $c-success;
      cursor: pointer;
    }

    /* &:not(first-child) {
                padding-top: 1.5em;
            }*/
  }
}

#displayAdmin,
#displayPassif {
  width: 75%;

  >p {
    padding: 0 1em;
  }

  .maj {
    text-transform: uppercase;
  }

  &+.action {
    width: 75%;
    margin: 0 auto;
  }
}

#displayPassif {
  @extend .fiche;
  width: 75%;
}

#displayDiscussion {
  article {
    footer {
      color: $c-neutral;
      font-size: .8em;
      text-align: right;
    }

    p {
      background: #fff;
      border-radius: .2em;
      padding: .5em;
      margin-top: 0;
    }
  }

  .fiche {
    margin-bottom: 2em;

    .action {
      padding: 0;
    }

    form-button {
      margin-top: 0;
    }

    form-input {
      margin-top: 0;
    }
  }
}

#displayAdmin {
  margin: 0 auto;

  .fiche:not(:first-child),
  .emptyAtions {
    margin-bottom: 2em;
  }

  h2 {
    margin-top: 0;
  }

  h2 i.fa-plus {
    color: $c-success;
    transition: all .3s ease-in-out;

    &.toClose {
      transform: rotate(45deg);
      color: $c-neutral;
    }
  }

  .fiche p .fa,
  .fiche p .fal {
    cursor: pointer;
    float: right;
    color: $c-neutral;
    transition: all .3s ease-in-out;

    &:hover,
    &:active {
      color: $c-danger;
    }
  }
}

#displayAtcd {
  margin: 0 auto;
  width: 75%;

  .formRepeat {
    margin-bottom: 2em;
  }
}

detail-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5em;
  background-color: $c-dark;
  z-index: 1;

  div {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
  }

  p {
    color: $c-neutral;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}

.displayPhrase {
  border-left: $c-primary .25em solid;
  font-weight: 300;
  padding-left: .5em;
  font-size: 1em;

  span.primary {
    color: $c-primary
  }

  span.accent {
    color: $c-accent
  }

  span.retour {
    display: block;
  }
}

detail-conclusion {
  #regulation {
    #display-historique {
      @extend .fiche;
      margin-bottom: 2em;

      article {
        margin-bottom: 1em;

        p:last-child {
          @extend .displayPhrase;
        }

        h5 {
          margin: 2em 0 1em;
        }

        &:not(:last-child) {
          opacity: .4;
        }
      }
    }

    #display-form {
      @extend .fiche;
    }

    #display-closeBtns,
    #display-btns {
      @extend .fiche;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      button {
        height: 5em;
        margin-bottom: 1em;
      }
    }

    #display-closeBtns {
      button {
        width: 48%;
      }
    }

    #display-btns {
      button {
        width: 100%;
      }
    }
  }

  #document {
    >div {
      margin: 0 auto 1em auto;
    }

    article {
      @extend .fiche;
      margin-bottom: 1em;
      display: flex;
      align-items: center;

      .doc-info {
        flex-basis: 100%;
      }

      .doc-download .mat-button {
        width: auto;
      }
    }
  }
}

detail-action,
detail-observation {
  article {
    margin-bottom: 1.5em;
    padding: 1em;
    background: #fff;

    strong {
      @include font('bold');
    }

    p {
      margin: 0;
    }

    p:first-child {
      @extend .displayPhrase;
    }

    p:last-child {
      font-size: .8em;
      margin-top: .5em;
      opacity: .6;
    }
  }
}

.emptyAtions {
  text-align: center;
  background-color: #fff;
  padding: 1.5em;
  color: $c-neutral;

  p {
    margin-top: 0;
  }

  button {
    font-size: .8em;

    i {
      padding-right: 1em;
    }
  }
}

.nouveau-cartouche-option {
  padding: 1em;
  border: 2px solid $c-dark;

  span {
    float: right;
  }

  &.active {
    border-color: $c-accent;

    span {
      color: $c-accent;
    }
  }

  span.active {}
}

detail-nouveau-cas,
app-detail-intervention-form {
  display: block;
  padding: 0 2em;

  >div {
    @extend .fiche;
    position: relative;
    min-height: 20em;
  }
}

volet {
  header.hide {
    display: none;
  }

  header.show {
    display: block;
  }
}

#switchNewForm {
  padding-left: 2em;

  >ul {
    @extend .ulMenu;

    li {
      position: relative;
      padding: 1em;

      i,
      span {
        color: $c-dark;
      }

      &:hover,
      &:active,
      &:focus,
      &.active {
        opacity: 1;
        background: #fff;
        box-shadow: $shadow;

        i,
        span {
          color: $c-success;
        }

        &:after {
          content: '';
          position: absolute;
          background: #fff;
          height: 1em;
          width: 100%;
          left: 0;
          bottom: -1em;
        }
      }
    }
  }
}

detail-moyen {

  liste-intervention-moyen>span {
    background-color: rgba($c-neutral, .05)
  }

  >article {
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    header,
    >div:last-child {
      padding: 2em;
    }

    h1 {
      &.success {
        color: $c-success
      }

      &.danger {
        color: $c-danger
      }

      &.warning {
        color: $c-warning
      }

      &.primary {
        color: $c-primary
      }
    }

    h2 {
      text-align: center;
      color: $c-neutral;
      @include font('italic');
      font-size: 1.1em;
    }

    h3 {
      text-align: center;
    }

    .bready>div.btn_section {
      background-color: $c-light
    }
  }

  liste-intervention-moyen {
    span.name {
      display: none;
    }

  }

  mat-tab-body>div {
    padding: 1em
  }

  .moyen-details-footer {
    text-align: right;
    margin-top: 15px;
  }
}

app-detail-moyen-form {
  position: relative;
  padding: 2rem;
  display: block;

  > article {
    padding: 1rem 1rem 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

detail-moyen,
detail-intervention {
  position: relative;
  padding: 2em;
  display: block;
  max-height: $h-content;
  width: 100%;

  h1 {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
  }

}

detail-intervention {
  h1 {
    color: $c-dark;
    @include font('light');
    align-items: flex-start;


    >span:first-child {
      text-transform: uppercase;
      line-height: .75em;
    }

    >span:last-child {

      text-transform: lowercase;
    }
  }

  .actionBarLoad {

    padding: 2em 0;
    text-align: center;

    i {
      font-size: 3em;
      color: $c-neutral;
    }
  }

  >div {
    border: 2px solid;

    &:not(.started):not(.closed) {
      //border-color: $c-primary;
      border-color: $c-danger;


      .numero {
        //background-color: $c-primary;
        background-color: $c-danger;
      }
    }

    &.started {
      //border-color: $c-warning;
      border-color: $c-primary;

      .numero {
        //background-color: $c-warning;
        background-color: $c-primary;
      }
    }

    &.closed {
      border-color: $c-neutral;

      .numero {
        background-color: $c-neutral;
      }
    }
  }

  .cancel-bar {
    text-align: right;
    margin: .25em 0;

    .cancel {
      //float: right;
      //padding-bottom: 1em;
    }

  }


  .action {
    button:not(:first-child) {
      margin-left: 1em;
    }
  }

  >div {
    @extend .fiche;
    position: relative;
    padding-top: 0;


    h2 {
      text-transform: uppercase;
      color: $c-dark;
      @include font('light');
    }

    h2 {
      margin: 0 0 .5em 0;
    }

    header {
      display: flex;
      height: 6em;

      .numero {
        background: $c-accent;
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: .5em 1em;
        font-size: 1.5em;
        @include font('bold');
      }

      >div:last-child {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1em 1.5em 0;

        h1 {
          margin: 0;
          text-align: left !important;
        }
      }



      p {
        margin: 0;
        color: $c-neutral;
      }
    }

    section {
      padding-top: 3em;

      >div {
        margin-bottom: 1.5em;
      }
    }

    section.detail-inter-info {
      background-color: $c-light;
      padding: 0;
      margin-top: 3em;
      margin-bottom: 3em;
      display: flex;

      >div {
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
      }

      >div:first-child {
        width: 33.33%;

        >span:not(:last-child) {
          margin-bottom: .75em;
        }

        i {
          width: 1.5em;
        }
      }

      >div:last-child {
        border-left: .25em solid #fff;
        width: 66.66%
      }
    }

    section.detail-inter-moyen-list {


      frise-moyen {
        background-color: $c-light;
        box-shadow: inset 0 0 1px rgba(#000, .2);

        >div.btn_section {
          background-color: $c-light;
          width: 15em;
          max-width: 15em;
        }

        >div:nth-last-of-type(2):after {
          display: none;
        }
      }
    }
  }

  cas {
    width: calc(100% - 2px);
  }

  @media screen and (max-width: 1366px) {
    cas .cas-toolbar-large {
      display: none
    }
  }
}
