<h2 (click)="add('circonstanciel')">Circonstanciel
    <i class="fal fa-plus"></i>
</h2>
<div *ngIf="circonstancielle && circonstancielle.length==0 " class="emptyAtions">
    <p>Aucun bilan circonstanciel enregistré</p>
    <button mat-raised-button color="success" (click)="add('circonstanciel')">
        <i class="fa fa-plus"></i>Bilan circonstanciel</button>
</div>
<article *ngFor="let item of circonstancielle" [ngSwitch]="item.type">
    <p *ngSwitchCase="'circonstances'">Circonstances :
        <span class="primary">{{item.circonstances}}</span>.</p>
    <p *ngSwitchCase="'signe'">Signes de :
        <span class="primary">{{item.signe}}</span>.</p>
    <p *ngSwitchCase="'plainte'">Plainte exprimée :
        <span class="primary">{{item.plainte}}</span>.</p>
    <p *ngSwitchCase="'cinetique'">Cinétique :
        <span class="primary">{{item.cinetique}}</span>. Chute de hauteur :{{item.chute}} , Grande vitesse :
        {{item.vitesse}} , AVP : {{item.avp}}
    </p>
    <p *ngSwitchCase="'intox'">Intoxication :
        <span class="primary">{{item.produit}}</span>.
        <br> Détails :{{item.intoxdetails}} </p>
    <p>
        <span>{{item.auteur}}</span> le
        <span>{{item.timeCode | date:'dd/MM/yy'}}</span> à
        <span>{{item.timeCode | date:'HH:mm'}}</span>
    </p>
</article>

<h2 (click)="add('vitale')">Vital (ABCD)
    <i class="fal fa-plus"></i>
</h2>
<div *ngIf="vitale && vitale.length==0 " class="emptyAtions">
    <p>Aucune observation vitale enregistrée</p>
    <button mat-raised-button color="success" (click)="add('vitale')">
        <i class="fa fa-plus"></i>Observation vitale</button>
</div>
<article *ngFor="let item of vitale">
    <p>
        <strong>Airways</strong>
        <li *ngIf="item.airways.aliberte"> VAS libre :
            <span class="primary">{{item.airways.aliberte}}</span>
        </li>
        <li *ngIf="item.airways.arespiration"> Présence de respiration :
            <span class="primary">{{item.airways.arespiration}}</span>
        </li>
        <li *ngIf="item.airways.avomissement"> Vomissements :
            <span class="primary">{{item.airways.avomissement}}</span>
        </li>
        <li *ngIf="item.airways.arachis"> Notion trauma cranien ou rachis :
            <span class="primary">{{item.airways.arachis}}</span>
        </li>

        <strong>Breathing</strong>
        <li *ngIf="item.breathing.befficace"> Respiration efficace :
            <span class="primary">{{item.breathing.befficace}}</span>
        </li>
        <li *ngIf="item.breathing.bqualification"> Qualification de la respiration :
            <span class="primary">{{item.breathing.bqualification}}</span>
        </li>
        <li *ngIf="item.breathing.bdetresse"> Signe de détresse respiratoire :
            <span class="primary">{{item.breathing.bdetresse}}</span>
        </li>
        <li *ngIf="item.breathing.bparler"> Capacité à parler :
            <span class="primary">{{item.breathing.bparler}}</span>
        </li>
        <li *ngIf="item.breathing.bbruits"> Bruit respiratoire ou auscultatoire :
            <span class="primary">{{item.breathing.bbruits}}</span>
        </li>
        <li *ngIf="item.breathing.bspo2"> Saturation pulsée en oxygène :
            <span class="primary">{{item.breathing.bspo2}}</span>
        </li>

        <strong>Circulation</strong>
        <li *ngIf="item.circulation.cpouls"> Pouls radial perçu :
            <span class="primary">{{item.circulation.cpouls}}</span>
        </li>
        <li *ngIf="item.circulation.cfc"> FC :
            <span class="primary">{{item.circulation.cfc}}</span>
        </li>
        <li *ngIf="item.circulation.ctrc"> TRC
            < 3 secondes : <span class="primary">{{item.circulation.ctrc}}</span>
        </li>
        <li *ngIf="item.circulation.chemorragie"> Hémorragie :
            <span class="primary">{{item.circulation.chemorragie}}</span>
        </li>
        <li *ngIf="item.circulation.cqualification"> Qualification du pouls :
            <span class="primary">{{item.circulation.cqualification}}</span>
        </li>
        <li *ngIf="item.circulation.cdetresse"> Signe de détresse :
            <span class="primary">{{item.circulation.cdetresse}}</span>
        </li>

        <strong>Disabilities</strong>
        <li *ngIf="item.disabilities.dconscience"> Patient conscient :
            <span class="primary">{{item.disabilities.dconscience}}</span>
        </li>
        <li *ngIf="item.disabilities.dpci"> PCI :
            <span class="primary">{{item.disabilities.dpci}}</span> durée : {{item.disabilities.dpciduree}} </li>
        <li *ngIf="item.disabilities.dconvulsion"> Convulsions :
            <span class="primary">{{item.disabilities.dconvulsion}}</span> durée :
            {{item.disabilities.dconvulsionsduree}} </li>
        <li *ngIf="item.disabilities.davpu"> AVPU :
            <span class="primary">{{item.disabilities.davpu}}</span>
        </li>
        <li *ngIf="item.disabilities.glasgow"> Glasgow :
            <span class="primary">{{item.disabilities.glasgow}} (Y{{item.disabilities.dsgy}},
                M{{item.disabilities.dsgy}}, V{{item.disabilities.dsgy}}) </span>
        </li>
        <li *ngIf="item.disabilities.dglycemie"> Glycémie :
            <span class="primary">{{item.disabilities.dglycemie}} {{item.disabilities.dglycemieunite}}</span>
        </li>
        <li *ngIf="item.disabilities.dorientation"> Orienté dans le temps et l'espace :
            <span class="primary">{{item.disabilities.dorientation}}</span>
        </li>
        <li *ngIf="item.disabilities.dsensibilite"> Trouble de la sensibilité :
            <span class="primary">{{item.disabilities.dsensibilite}}</span>
        </li>
        <li *ngIf="item.disabilities.dmotricite"> Trouble de la motricité :
            <span class="primary">{{item.disabilities.dmotricite}}</span>
        </li>
        <li *ngIf="item.disabilities.dpupilledroite"> Pupille droite :
            <span class="primary">{{item.disabilities.dpupilledroite}}</span>
        </li>
        <li *ngIf="item.disabilities.dpupillegauche"> Pupille Gauche :
            <span class="primary">{{item.disabilities.dpupillegauche}}</span>
        </li>
    </p>
    <p>
        <span>{{item.auteur}}</span> le
        <span>{{item.timeCode | date:'dd/MM/yy'}}</span> à
        <span>{{item.timeCode | date:'HH:mm'}}</span>
    </p>
</article>


<h2 (click)="add('exposure')">Exposure
    <i class="fal fa-plus"></i>
</h2>
<div *ngIf="exposure && exposure.length==0 " class="emptyAtions">
    <p>Aucune lésion enregistrée</p>
    <button mat-raised-button color="success" (click)="add('exposure')">
        <i class="fa fa-plus"></i>Lésion</button>
</div>
<article *ngFor="let exp of exposure">
    <p>type : {{exp.etype}}</p>
    <p>localisation : {{exp.elocalisation}}, latéralité : {{exp.elateralisation}}</p>
    <p>observation : {{exp.edescription}}</p>
    <p>
        <span>{{exp.auteur}}</span> le
        <span>{{exp.timeCode | date:'dd/MM/yy'}}</span> à
        <span>{{exp.timeCode | date:'HH:mm'}}</span>
    </p>
</article>



<h2 (click)="add('soap')">Observation clinique
    <i class="fal fa-plus"></i>
</h2>
<div *ngIf="soap && soap.length==0 " class="emptyAtions">
    <p>Aucune observation clinique enregistrée</p>
    <button mat-raised-button color="success" (click)="add('soap')">
        <i class="fa fa-plus"></i>Observation clinique</button>
</div>
<article *ngFor="let item of soap" [ngSwitch]="item.type">
    <p></p>
    <p>
        <b>Histoire de la maladie :</b>
        <br>
        <span class="primary">{{item.hdm}}</span>
    </p>
    <p>
        <b>Examen :</b>
        <br>
        <span class="primary">{{item.examen}}</span>
    </p>
    <p>
        <span>{{item.auteur}}</span> le
        <span>{{item.timeCode | date:'dd/MM/yy'}}</span> à
        <span>{{item.timeCode | date:'HH:mm'}}</span>
    </p>
</article>

<h2 (click)="add('surveillance')">Paramètres vitaux
    <i class="fal fa-plus"></i>
</h2>
<div *ngIf="surveillance && surveillance.length==0 " class="emptyAtions">
    <p>Aucun paramètre vital enregistré</p>
    <button mat-raised-button color="success" (click)="add('surveillance')">
        <i class="fa fa-plus"></i>Paramètre vital</button>
</div>

<mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="heure">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Heure</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.timeCode | date:'HH'}}
            <br> {{ row.timeCode | date:'mm'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="pad">
        <mat-header-cell *matHeaderCellDef mat-sort-header>PAD</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.pasd }}
            <br> {{ row.padd }}
            <br> ( {{ row.pamd }} )</mat-cell>
    </ng-container>
    <ng-container matColumnDef="pag">
        <mat-header-cell *matHeaderCellDef mat-sort-header>PAG</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.pasg }}
            <br> {{ row.padg }}
            <br> ({{ row.pamg }})</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fr">
        <mat-header-cell *matHeaderCellDef mat-sort-header>FR</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.fr }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fc">
        <mat-header-cell *matHeaderCellDef mat-sort-header>FC</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.fc }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="trc">
        <mat-header-cell *matHeaderCellDef mat-sort-header>TRC</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.trc }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="spo2">
        <mat-header-cell *matHeaderCellDef mat-sort-header>spo2</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.spo2 }}
            <br> {{ row.oxygene }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="glycemie">
        <mat-header-cell *matHeaderCellDef mat-sort-header>HGT</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.glycemie }}
            <br> {{row.uniteglycemie}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="eva">
        <mat-header-cell *matHeaderCellDef mat-sort-header>EVS</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.evs }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="temperature">
        <mat-header-cell *matHeaderCellDef mat-sort-header>T°</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.temperature }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="hemocue">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Hb</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.hemocue }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="etco2">
        <mat-header-cell *matHeaderCellDef mat-sort-header>etCO2</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.etco2 }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="glasgow">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Glasgow</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.glasgow }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>


<h2 (click)="add('examen')" *ngIf=" showMedic ">Examens clinique spécifiques
    <i class="fal fa-plus"></i>
</h2>
<div *ngIf="clinique && clinique.length == 0 && showMedic" class="emptyAtions">
    <p>Aucun examen clinique enregistré</p>
    <button mat-raised-button color="success" (click)="add('examen')">
        <i class="fa fa-plus"></i>Examen clinique</button>
</div>

<article *ngFor="let item of clinique" [ngSwitch]="item.type">
    <p *ngSwitchCase="'ACR'">ACR :
        <li> Heure supposé ACR
            <span class="primary">{{item.heureacr}}</span>.</li>
        <li> Heure de Prise en charge :
            <span class="primary">{{item.heurepec}}</span>.</li>
        <li> Durée du No Flow :
            <span class="primary">{{item.noflow}}</span>
        </li>
        <li> Durée du LowFlow :
            <span class="primary">{{item.lowflow}}</span>.</li>
        <li> ECG à PEC :
            <span class="primary">{{item.ecg}}</span>.</li>
        <li> Utilisation DSA par des témoins :
            <span class="primary">{{item.dsa}}</span>
        </li>
        <li> Nombre de chocs total :
            <span class="primary">{{item.chocs}}</span>.</li>
        <li> Heure de RACS :
            <span class="primary">{{item.heureracs}}</span>.</li>
    </p>
    <p *ngSwitchCase="'DT'">Douleur Thoracique non traumatique :
        <li> Heure de début
            <span class="primary">{{item.heuredebut}}</span>.</li>
        <li> Durée de la douleur :
            <span class="primary">{{item.duree}}</span>.</li>
        <li> Réponse à la TNT :
            <span class="primary">{{item.tnt}}</span>
        </li>
        <li> Reproductible à la palpation :
            <span class="primary">{{item.palpation}}</span>.</li>
        <li> Majoration à inspiration :
            <span class="primary">{{item.inspiration}}</span>.</li>
        <li> Description de la douleur :
            <span class="primary">{{item.description}}</span>
        </li>
        <li> Commentaires :
            <span class="primary">{{item.commentaires}}</span>.</li>
    </p>
    <p *ngSwitchCase="'Accouchement'">Accouchement :
        <li> Gestité
            <span class="primary">{{item.gestite}}</span>.</li>
        <li> Parité :
            <span class="primary">{{item.parite}}</span>.</li>
        <li> Terme :
            <span class="primary">{{item.terme}}</span>
        </li>
        <li> Date du terme :
            <span class="primary">{{item.dateterme}}</span>.</li>
        <li> Durée des contraction :
            <span class="primary">{{item.contractionduree}}</span>.</li>
        <li> Interval entre les contraction :
            <span class="primary">{{item.contractioninterv}}</span>
        </li>
        <li> Examen :
            <span class="primary">{{item.examen}}</span>
        </li>
        <li> Problèmes :
            <span class="primary">{{item.probleme}}</span>
        </li>
        <li> Commentaires :
            <span class="primary">{{item.commentaires}}</span>.</li>
        <li> Heure de Naissance :
            <span class="primary">{{item.heurenaissance}}</span>
        </li>
        <li> Apgar à 1 minute :
            <span class="primary">{{item.apgar1}}</span>
        </li>
        <li> Apgar à 3 minutes :
            <span class="primary">{{item.apgar3}}</span>
        </li>
        <li> Apgar à 5 minutes :
            <span class="primary">{{item.apgar5}}</span>
        </li>
    </p>
    <p *ngSwitchCase="'DR'">Détresse Respiratoire :
        <li> Auscultation
            <span class="primary">{{item.auscultation}}</span>.</li>
        <li> Lutte :
            <span class="primary">{{item.lutte}}</span>.</li>
        <li> Balancement :
            <span class="primary">{{item.balancement}}</span>
        </li>
        <li> Tirage :
            <span class="primary">{{item.tirage}}</span>.</li>
        <li> Turgecence des jugulaires :
            <span class="primary">{{item.turgecence}}</span>.</li>
        <li> Difficulté à parler :
            <span class="primary">{{item.difficulteaparler}}</span>
        </li>
        <li> Signes de fatigue respiratoire :
            <span class="primary">{{item.fatigue}}</span>
        </li>
        <li> Troubles de la conscience :
            <span class="primary">{{item.troubleconscience}}</span>
        </li>
        <li> coma :
            <span class="primary">{{item.coma}}</span>.</li>
        <li> Cyanose :
            <span class="primary">{{item.cyanose}}</span>
        </li>

        Signes d hypercapnie :

        <li> Sueurs
            <span class="primary">{{item.tachycardie}}</span>
        </li>
        <li>HTA :
            <span class="primary">{{item.hta}}</span>
        </li>
        <li> agitation :
            <span class="primary">{{item.agitation}}</span>
        </li>
        Signes cardio-vasculaires, hémodynamiques et cardiaques droits

        <li> tachycardie
            <span class="primary">{{item.tachycardie}}</span>
        </li>
        <li>signechoc :
            <span class="primary">{{item.signechoc}}</span>
        </li>
        <li> Signe de coeur droit :
            <span class="primary">{{item.signedroit}}</span>
        </li>
        <li> commentaire :
            <span class="primary">{{item.commentaire}}</span>
        </li>

    </p>

    <p *ngSwitchCase="'TN'">Trouble Neurologique :
        <li> PCI
            <span class="primary">{{item.pci}}</span>.</li>
        <li> agitation :
            <span class="primary">{{item.agitation}}</span>.</li>
        <li> obnubilation :
            <span class="primary">{{item.obnubilation}}</span>
        </li>
        <li> Pupilles symétriques :
            <span class="primary">{{item.pupillessymetriques}}</span>.</li>


    </p>

    <p *ngSwitchCase="'ECG'">ECG :
        <li> sinusal
            <span class="primary">{{item.sinusal}}</span>
        </li>
        <li> présence sus décalage ST :
            <span class="primary">{{item.susdecalagest}}</span>.</li>
        <li> BAV :
            <span class="primary">{{item.bav}}</span>
        </li>
        <li> FA :
            <span class="primary">{{item.fa}}</span>.</li>


    </p>


    <p>
        <span>{{item.auteur}}</span> le
        <span>{{item.timeCode | date:'dd/MM/yy'}}</span> à
        <span>{{item.timeCode | date:'HH:mm'}}</span>
    </p>
</article>

<h2> Drawing Body</h2>
<div>
    <p>Aucun bilan circonstanciel enregistré</p>
    <button mat-raised-button color="success" (click)="add('circonstanciel')">
        <i class="fa fa-plus"></i>Bilan circonstanciel</button>
</div>
