<mat-tab-group (selectedTabChange)="selectSousRubrique($event)" [selectedIndex]="activeIndex" #tabGroup>

  <mat-tab label="Conclusion">
    <div id="regulation">
      <div id="display-historique" *ngIf="cas?.clos || regulation?.length>0">
        <article *ngFor="let item of regulation ">
          <h5>
            {{item.poste}} :
            <span>{{item.timeCode | date:'HH:mm'}}</span>
            le <span>{{item.timeCode | date:'dd/MM/yy'}}</span>
            <span>{{item.auteur}}</span>
          </h5>

          <div *ngIf="item.type" [ngSwitch]="item.type">
            <p *ngSwitchCase="'demande'">
              Demande de régulation
              <br>
            </p>

            <p *ngSwitchCase="'regulation'">
              Transport du patient dans le service :
              <span class="primary"> {{item.service}} de {{item.hopital}}</span>
              en <span class="accent"> {{item.moyen}}</span>.
              <br>
              <button mat-raised-button color="success" (click)="createInter(item, 'ÉVACUATION')"
                *ngIf="user?.fonction == 'administrateur' || user?.fonction == 'pc'  || user?.metier =='nurse' || user?.metier =='doctor' ">
                <span *ngIf="!creatingInter">Demande d'une intervention</span>
                <i class="fas fa-spinner-third fa-spin" *ngIf="creatingInter"></i>
              </button>
            </p>

            <p *ngSwitchCase="'transfert'">
              Patient transféré à <strong>{{item.destination}}</strong>
              <br>
              Urgence : {{item.urgence}} <br>
              Position : {{item.position}} <br>
              Commentaire : {{item.commentaire}} <br>
              <button mat-raised-button color="success" (click)="createInter(item, 'TRANSFERT')"
                *ngIf="user?.fonction == 'administrateur' || user?.fonction == 'pc'">
                <span *ngIf="!creatingInter">Demande d'une intervention</span>
                <i class="fas fa-spinner-third fa-spin" *ngIf="creatingInter"></i>
              </button>
            </p>

            <p *ngSwitchCase="'réévaluation'">
              Patient à réévaluer dans <strong>{{item.delais}}</strong>
              <br>
            </p>
            <p *ngSwitchCase="'décharge'">
              Décharge signée : <strong>{{item.decharge}}</strong>
              <br> Référent des secours ayant signé : {{item.referent}}
            </p>
            <p *ngSwitchCase="'décédé'">
              Patient décédé à <strong>{{item.heure}}</strong>
              <br>
            </p>
            <p *ngSwitchCase="'confié'">
              Patient à confié à <strong>{{item.type.nom}}, {{item.prenom}}</strong>
              <br> Lien avec la victime : {{item.lien}}
            </p>
            <p *ngSwitchCase="'autre'">
              Autre motif, précisions : <strong>{{item.message}}</strong>
              <br>
            </p>
            <p *ngSwitchCase="'lsp'">
              Laissé sur place
            </p>
          </div>

        </article>

    </div>

      <div id="display-btns" *ngIf="show.buttons">
        <button  mat-raised-button color="primary" (click)="showCl(['transfert','forms'])"  *ngIf="user?.fonction == 'administrateur' || user?.fonction == 'pc' || user?.metier == 'doctor' " >Transfert</button>
        <button mat-raised-button color="accent" (click)="showCl(['regulation','forms'])"
          *ngIf="user?.fonction == 'administrateur' || user?.fonction == 'pc' || user?.metier == 'doctor' ">Évacuation</button>
        <button mat-raised-button color="warning" (click)="askReg()"
          *ngIf="(user?.fonction != 'pc' && user?.metier != 'doctor' && !activeNotification.regulation)">Demande de régulation</button>
        <button mat-raised-button color="success" (click)="showCl(['reevaluation','forms'])">Réévaluation</button>
        <button mat-raised-button color="success" (click)="conclusionCas('lsp')">Laissé sur place</button>
      </div>
      <div id="display-closeBtns" *ngIf="show.buttons">
        <button mat-raised-button color="success" (click)="showCl(['deces','forms'])">Décédé</button>
        <button mat-raised-button color="success" (click)="showCl(['decharge','forms'])">Décharge</button>
        <button mat-raised-button color="success" (click)="showCl(['confie','forms'])">Confié</button>
        <button mat-raised-button color="success" (click)="showCl(['autre','forms'])">Autre</button>
      </div>

      <div id="display-form" *ngIf="show.forms"><i (click)="showCl(['buttons'])" class="fal fa-times closeBtn"></i>
        <div class="fiche" *ngIf="addReg">
          <conclusion-regulation-form (submitRegulation)="submitRegulation($event)"></conclusion-regulation-form>
        </div>
        <div *ngIf="show.reevaluation">
          <!-- <button  mat-raised-button color="accent" (click)="cloreCas('Réévaluation',$event)">Valider</button> -->
          <dynamic-form [config]="configReevaluation" #reevaluationForm="dynamicForm"
            (submit)="reevalCas('réévaluation',$event)">
          </dynamic-form>
        </div>

        <div *ngIf="show.decharge">
          <p> Imprimer et faire signer cette décharge : <i class="fal fa-download" (click)="downloadDecharge()"></i></p>
          <!-- <button  mat-raised-button color="accent" (click)="conclusionCas('décharge',$event)">Valider</button> -->
          <dynamic-form [config]="configDecharge" #dechargeForm="dynamicForm"
            (submit)="conclusionCas('décharge',$event)">
          </dynamic-form>
        </div>


        <div *ngIf="show.transfert">
         <dynamic-form
         [config]="configTransfertForm"
         #transfertForm="dynamicForm"
         (submit)="transfert($event)">
         </dynamic-form>
        </div>

        <div *ngIf="show.confie">
          <dynamic-form [config]="configConfieForm" #confieForm="dynamicForm" (submit)="conclusionCas('confié',$event)">
          </dynamic-form>
        </div>
        <div *ngIf="show.autre">
          <dynamic-form [config]="configAutreForm" #autreForm="dynamicForm" (submit)="conclusionCas('autre',$event)">
          </dynamic-form>
        </div>
        <div *ngIf="show.deces">
          <dynamic-form [config]="configDeces" #decesForm="dynamicForm" (submit)="conclusionCas('décédé',$event)">
          </dynamic-form>
        </div>
        <conclusion-regulation-form *ngIf="show.regulation" (submitRegulation)="submitRegulation($event)">
        </conclusion-regulation-form>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Discussion">
    <div id="displayDiscussion">
      <dynamic-form [config]="config" #discussionForm="dynamicForm" (submit)="submitComment($event)">
      </dynamic-form>

      <article *ngFor="let comment of discussion">
        <p> {{comment.message}}</p>
        <footer>{{comment.auteur}}<span>- {{comment.timeCode | date:'dd/MM/yy'}}
            {{comment.timeCode | date:'hh:mm'}}</span></footer>
      </article>
    </div>
  </mat-tab>

  <mat-tab label="document">
    <div id="document">
      <div class="fiche">
        <h3>Téléchargements</h3>
        <p>
          <button class="mat-raised-button" color="success" (click)="downloadDetailPdf()">
            <i class="fal fa-download"></i> Bilan
          </button>
        </p>
        <p>
          <button class="mat-raised-button" color="success" (click)="downloadAnonymousPdf()">
            <i class="fal fa-download"></i> Dossier Anonymisé
          </button>
        </p>
        <p>
          <button class="mat-raised-button" color="success" (click)="downloadConseilTCPdf()">
            <i class="fal fa-download"></i> Conseil aux traumatisé cranien
          </button>
        </p>
        <p>
          <button class="mat-raised-button" color="success" (click)="downloadConseilTCENPdf()">
            <i class="fal fa-download"></i> Conseil aux traumatisé cranien en Anglais
          </button>
        </p>
        <p>
          <button class="mat-raised-button" color="success" (click)="downloadConseilPlaiesPdf()">
            <i class="fal fa-download"></i> Conseil aux patients ayants une petite plaie
          </button>
        </p>
        <p>
          <button class="mat-raised-button" color="success" (click)="downloadFicheMedicalePdf()">
            <i class="fal fa-download"></i> Fiche Médicale
          </button>
        </p>
      </div>

      <div class="fiche">
        <p *ngFor="let ordo of ordoList">
          <span>{{getOrdoName(ordo.prescription)}}</span>
          <i (click)="downloadOrdonnance(ordo)" class="fal fa-download"></i>
        </p>
        <button mat-raised-button color="success" (click)="newOrdo()">Créer une ordonnance</button>
      </div>

      <div class="fiche">
        <p *ngFor="let courier of courierList">
          <span>{{courier.titre}}</span>
          <i class="fal fa-download" (click)="downloadCourier(courier)"></i>
        </p>
        <button mat-raised-button color="success" (click)="newCourier()">Créer un courier</button>
      </div>

      <div class="fiche">
        <p *ngFor="let convoc of convocList">
          <span>{{convoc.titre}}</span>
          <i class="fal fa-download" (click)="downloadConvoc(convoc)"></i>
        </p>
        <button mat-raised-button color="success" (click)="newConvoc()">Créer une convocation</button>
      </div>

      <div *ngIf="!showFileForm" class="emptyAtions">
        <button mat-raised-button color="success" (click)="showFileForm = !showFileForm">
          <i class="fa fa-plus"></i> Ajouter un document
        </button>
      </div>

      <div class="fiche" *ngIf="showFileForm">
        <h3 (click)="showFileForm = !showFileForm">Ajouter un document</h3>
        <dynamic-form [config]="configFile" #fileform="dynamicForm" (submit)="submitFileForm($event)">
        </dynamic-form>
      </div>

      <article *ngFor="let doc of document">
        <div class="doc-info">
          <h4>{{doc?.titre}} <small>({{doc.fileName}})</small></h4>
          <p>
            {{doc.type}}
            - {{doc?.auteur}}
            - {{doc?.timeCode | date:'dd/MM/yy'}} {{doc?.timeCode | date:'hh:mm'}}
          </p>
        </div>
        <div class="doc-download">
          <button mat-button color="primary" (click)="downloadDoc(doc)">
            <i class="fa fa-download"></i> Télécharger
          </button>
        </div>
      </article>
    </div>
  </mat-tab>

  <mat-tab label="Diagnostic">
    <div id="regulation">
      <div id="display-historique">
        <article *ngFor="let d of diagnostic">
          diagnostic : {{d.diagnostic}}<br>
          Catégorie : {{d.categorie}}<br>
          CCMU : {{d.ccmu}}<br>
          <p>Commentaires : {{d.commentaires}}</p>
          <li> Médecin : {{d.doctor}}
          <li> Interne : {{d.interne}}
          <li> Infirmier : {{d.infirmier}}
          <h5>
            <footer>
              {{d.auteur}}
              <span>- {{d.timeCode | date:'dd/MM/yy'}} {{d.timeCode | date:'hh:mm'}}</span>
            </footer>
          </h5>
        </article>
      </div>
      <dynamic-form [config]="configDiag" #form="dynamicForm" (submit)="submitDiag($event)"></dynamic-form>
    </div>
  </mat-tab>

</mat-tab-group>
