<div leaflet class="left-side"
     [leafletOptions]="options"
     [leafletLayers]="options.layers"
     [leafletLayersControl]="layersControl"
     (leafletMapReady)="onMapReady($event)">
</div>

<div class="right-side">
    <div class="fiche">
        <h2>Moyens</h2>
        <h3>Types</h3>
        <mat-checkbox *ngFor="let type of types" value="{{type}}" class="checkbox" (change)="filterMoyen($event, 'type')" [checked]="false">{{type}}</mat-checkbox>
        <h3>Etats</h3>
        <mat-checkbox *ngFor="let etat of etats" value="{{etat}}" class="checkbox" (change)="filterMoyen($event, 'etat')" [checked]="false">{{etat}}</mat-checkbox>
    </div>
</div>

<div class="right-side">
    <div class="fiche">
        <h2>Points d'Intérêt</h2>
        <h3>Catégories</h3>
        <mat-checkbox *ngFor="let category of categories" value="{{category}}" class="checkbox" (change)="filterPOI($event)" [checked]="false">{{category}}</mat-checkbox>
    </div>
</div>

