<div class="urgence {{cas?.urgence}}" (click)="select()">
    <p>{{position}}</p>
</div>

<div class="nom"
    (click)="select('info','patient')"
    *ngIf="(!mode.large &&  cas?.patient) || (mode.short && cas?.patient)">
    <p>{{cas?.nom}}</p>
    <p>{{cas?.prenom}}</p>
</div>
<ng-template #noName>
    <div class="nom"
        (click)="select('info','patient',true)"
        *ngIf="!mode.large  && !mode.short && !cas?.patient">
    <span class="link success" *ngIf="mode.autocomplete">
        <i class="fal fa-user-plus"></i> Patient
    </span>
    <button mat-raised-button *ngIf="!mode.autocomplete"  color="success" >
        <i class="fal fa-user-plus"></i> Patient
    </button>
    </div>
</ng-template>

<div class="niv" (click)="select('info','pec')" *ngIf="!(mode.short && cas?.patient)">
    <strong class="niv {{cas?.urgence}}">{{cas?.niv}}</strong>
    <em *ngIf="cas?.note">{{cas?.note}}</em>
</div>

<div [ngClass]="{ alert: cas?.isMinor, info: !cas?.isMinor }"
    (click)="select('info','pec')">
    <p class="{{cas?.sexe}}">
        <span *ngIf="cas?.sexe"><i class="fal fa-mars"></i><i class="fal fa-venus"></i></span>
        <span *ngIf="cas?.age">{{cas?.ageYears}} ans</span>
    </p>
    <p>{{cas?.pathologie}}</p>
</div>

<div class="sortie"
    *ngIf="!mode.short && !mode.autocomplete"
    [ngClass]="{'danger' : delayExpired() && !cas?.clos,'dark':cas?.clos}"
    (click)="select('info','pec')">
    <p *ngIf="passage.entree.timeCode">{{passage.entree.timeCode | date:'dd/MM/yy'}} <br> {{passage.entree.timeCode | date:'HH:mm'}}</p>
    <p *ngIf="!delayExpired() && !cas?.clos">{{delay()}}'</p>
</div>

<div class="sortie" *ngIf="passage.sortie" [ngClass]="'dark'" (click)="select('info','pec')">
    <i class="fal fa-clock-o"></i>
    <p *ngIf="passage.sortie.timeCode">{{passage.sortie.timeCode | date:'dd/MM/yy'}} <br>  {{passage.sortie.timeCode | date:'HH:mm'}}</p>
</div>

<div class="sortie" *ngIf="!passage.sortie" [ngClass]="'dark'" (click)="select('conclusion','conclusion')">
    <i class="far fa-hand-point-left"></i>
</div>

<div class="notif"
        *ngIf="cas?.theconclusion && cas?.theconclusion.regulation">
        <div [ngSwitch]="cas.theconclusion.regulation[cas?.theconclusion.regulation.length - 1]?.type"
             (click)="select('conclusion')">
        <i class="fal fa-sign-out-alt success" *ngSwitchCase="'lsp'"></i>
        <i class="fal fa-question-circle danger" *ngSwitchCase="'demande'" ></i>
        <i class="fal fa-ambulance danger" *ngSwitchCase="'regulation'" ></i>
        <i class="fal fa-alarm-exclamation danger" *ngSwitchCase="'réévaluation'" ></i>
        <i class="fal fa-sign-out-al success" *ngSwitchCase="'autre'"  ></i>
        <i class="fal fa-file-signature success" *ngSwitchCase="'décharge'"  ></i>
        <i class="fal fa-stretcher warning" *ngSwitchCase="'transfert'"  ></i>
        <i class="fal fa-sign-out-alt success" *ngSwitchCase="'confié'"  ></i>
        <i class="fal fa-tombstone danger" *ngSwitchCase="'décédé'"  ></i>
        </div>
</div>

<!--
    <div  *ngIf="mode.large" class="cas-toolbar-large">
    <div class="observation" [ngClass]="{'success' : cas?.lastObservation}"  (click)="select('observation')" >
        <i class="fal fa-stethoscope"></i>
        <p *ngIf="cas?.lastObservation">{{cas?.lastObservation | date:'HH:mm'}}</p>
    </div>

    <div class="action" [ngClass]="{'success' : cas?.lastAction}"  (click)="select('action')" >
        <i class="fal fa-medkit"></i>
        <p *ngIf="cas?.lastAction">{{cas?.lastAction | date:'HH:mm'}}</p>
    </div>
-->
    <div class="close"
        *ngIf="(!cas?.primaryNotification && !cas?.currentIntervention) || cas?.clos"
        [ngClass]="{'success' : cas?.clos}"
        (click)="select('conclusion')" >
        <i class="fal fa-check"></i>
        <p *ngIf="cas?.clos">{{cas?.clos.timeCode | date:'HH:mm'}}</p>
    </div>

     <div class="notif"
        *ngIf="cas?.primaryNotification && !cas?.clos && !cas?.currentIntervention"
        [ngSwitch]="cas?.primaryNotification.type">
        <i class="fal fa-shipping-fast warning" ></i>
    </div>
    <div class="notif"
        *ngIf="cas?.primaryNotification && !cas?.clos && !cas?.currentIntervention"
        [ngSwitch]="cas?.primaryNotification.type">
        <i class="fal fa-bell danger jingle-bell" *ngSwitchCase="'intervention'"></i>
        <i class="fal fa-exchange warning" *ngSwitchCase="'regulation'" (click)="select('conclusion')" ></i>
        <i class="fal fa-comment success" *ngSwitchCase="'discussion'" (click)="select('conclusion','discussion')" ></i>
        <p class="{{cas?.primaryNotification.type}}" *ngIf="mode.large">
            {{cas?.primaryNotification.created | date:'HH:mm'}}
        </p>
    </div>

<div *ngIf="mode.medium"  class="cas-toolbar-medium">
    <div class="observation" *ngIf="!cas?.lastAction && !cas?.primaryNotification && !cas?.clos && !cas?.currentIntervention" [ngClass]="{'success' : cas?.lastObservation}"  (click)="select('observation')" >
        <i class="fal fa-stethoscope"></i>
        <p *ngIf="cas?.lastObservation">{{cas?.lastObservation | date:'HH:mm'}}</p>
    </div>
    <div class="action" *ngIf="cas?.lastAction && !cas?.primaryNotification && !cas?.clos && !cas?.currentIntervention"  [ngClass]="{'success' : cas?.lastAction}"  (click)="select('action')" >
        <i class="fal fa-medkit"></i>
        <p *ngIf="cas?.lastAction">{{cas?.lastAction | date:'HH:mm'}}</p>
    </div>
    <div  class="close" *ngIf="(!cas?.primaryNotification && !cas?.currentIntervention) && cas?.clos"  [ngClass]="{'success' : cas?.clos}"  (click)="select('conclusion')" >
    <i class="fal fa-check"></i>
    <p *ngIf="cas?.clos">{{cas?.clos.timeCode | date:'HH:mm'}}</p>
    </div>

<!--
    <div class="notif"
        *ngIf="cas?.primaryNotification && !cas?.clos && !cas?.currentIntervention"
        [ngSwitch]="cas?.primaryNotification.type" >
        <i class="fal fa-bell danger jingle-bell" *ngSwitchCase="'intervention'"></i>
        <i class="fal fa-exchange warning" *ngSwitchCase="'regulation'" (click)="select('conclusion')" ></i>
        <i class="fal fa-comment success" *ngSwitchCase="'discussion'" (click)="select('conclusion','discussion')"></i>
        <p class="{{cas?.primaryNotification.type}}" *ngIf="mode.large">
            {{cas?.primaryNotification.created | date:'HH:mm'}}
        </p>
    </div>
-->
    <div class="inter" *ngIf="cas?.currentIntervention">
        <i class="fal fa-shipping-fast warning" ></i>
    </div>

</div>

<div *ngIf="mode.autocomplete"  class="cas-toolbar-patient">
    <button mat-raised-button  color="primary"  (click)="entree()" >
        <i class="fal fa-file-medical-alt"></i> ENTREE
    </button>
    <button mat-raised-button  *ngIf="cas?.patient"  color="accent" (click)="getPatient()" >
        <i class="fal fa-copy"></i> patient
    </button>
</div>
