<i (click)="close()" class="fal fa-times closeBtn">
</i>


<div [ngSwitch]="sousRubrique">
    <action-geste-forms *ngSwitchCase="'geste'" (submitactionGeste)="submit(['action','geste'],$event)" (closeForm)="showEdit=false"></action-geste-forms>
    <action-traitement-forms *ngSwitchCase="'traitement'" (submitactiontraitement)="submit(['action','traitement'],$event)"
        (closeForm)="showEdit=false"></action-traitement-forms>

    <observation-circonstancielle-form *ngSwitchCase="'circonstanciel'" (submitObservationCirconstancielle)="submit(['observation','circonstancielle'],$event)"
        (closeForm)="showEdit=false">
    </observation-circonstancielle-form>
    <observation-vitale-form *ngSwitchCase="'vitale'" (submitObservationVitale)="submit(['observation','vitale'],$event,true)"
        (closeForm)="showEdit=false">
    </observation-vitale-form>
    <observation-clinique-form *ngSwitchCase="'examen'" (submitObservationClinique)="submit(['observation','clinique'],$event)"
        (closeForm)="showEdit=false">
    </observation-clinique-form>
    <observation-soap-form *ngSwitchCase="'soap'" (submitObservationSoap)="submit(['observation','soap'],$event)"
        (closeForm)="showEdit=false">
    </observation-soap-form>
    <observation-surveillance-form *ngSwitchCase="'surveillance'" (submitObservationSurveillance)="submit(['observation','surveillance'],$event)"
        (closeForm)="showEdit=false">
    </observation-surveillance-form>

    <observation-exposure-form *ngSwitchCase="'exposure'" (submitObservationExposure)="submit(['observation','exposure'],$event)"
        (closeForm)="showEdit=false"></observation-exposure-form>

    <patient-administratif-form *ngSwitchCase="'patient'" (submitPatientAdministratif)="addPatient($event)" [patient]="patient"
        class="simpleForm" (searchDB)="searchDB($event,this)"></patient-administratif-form>


    <detail-nouveau-cas *ngSwitchCase="'cas'" [cas]="cas" (searchDB)="searchDB($event,this)"></detail-nouveau-cas>
    <app-detail-intervention-form *ngSwitchCase="'intervention'"></app-detail-intervention-form>


    <div *ngSwitchDefault>...</div>
    <conclusion-ordonnance-form *ngSwitchCase="'ordonnance'" (submitOrdonnance)="submit(['conclusion','ordonnance'],$event)"></conclusion-ordonnance-form>
    <conclusion-courier-form *ngSwitchCase="'courier'" (submitCourier)="submit(['conclusion','courier'],$event)"></conclusion-courier-form>
    <conclusion-convoc-form *ngSwitchCase="'convoc'" (submitCourier)="submit(['conclusion','convoc'],$event)"></conclusion-convoc-form>
</div>
