cas {
  display: flex;
  height: 4em;
  width: 100%;
  text-align: left;
  border: transparent 2px solid;
  background-color: #fff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all .1s ease-in;

  p {
    margin: 0;
    line-height: 1.2em;
  }

  >div {
    height: 100%;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }

  /* //// SECTIONS //// */
  >div.urgence {
    padding: 0;
    max-width: 4em;
    padding: 0 1em;
    color: #fff;
    text-align: center;
    @include font('bold');
    text-transform: uppercase;

    p {
      font-size: 1.2em;
    }

    &.u1 {
      background-color: $c-danger
    }

    &.u2 {
      background-color: $c-warning
    }

    &.u3 {
      background-color: $c-primary
    }
  }

  >div.nom,
  >div.niv {
    //nom
    width: 14em;
    @include font('light');

    .niv {
      color: $c-dark;
    }

    p:first-child {
      text-transform: uppercase;
    }

    p:last-child {
      text-transform: capitalize;
      text-transform: lowercase;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    em {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  >div.nom+.niv {
    width: 12em;
  }

  >div.info {
    width: 10em;
    background-color: $c-neutral-light;
    text-transform: capitalize;

    .homme {
      color: $c-primary;

      .fa-venus {
        display: none;
      }
    }

    .femme {
      color: $c-accent;

      .fa-mars {
        display: none;
      }
    }
  }

  >div.alert {
        width: 10em;
        background-color: #FF8080;
        text-transform: capitalize;
        .homme {
            color: $c-primary;
            .fa-venus {
                display: none;
            }
        }
        .femme {
            color: $c-accent;
            .fa-mars {
                display: none;
            }
        }
    }
    




  /* //// PICTOS //// */
  .notifs {
    text-align: center;
    width: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    p {
      font-size: .7em;
      color: $c-neutral;
      margin-top: .5em;
    }

    i {
      color: $c-neutral; //font-size: 1.5em;
      font-size: 1.4em;
    }

    i.fa-clock {
      // color: $c-neutral;
      //font-size: 1.3em;
    }

    i,
    p {

      &.danger,
      &.intervention {
        color: $c-danger;
      }

      &.success,
      &.discussion {
        color: $c-success;
      }

      &.warning,
      &.regulation {
        color: $c-warning;
      }
    }

    &.dark {

      i,
      p {
        color: $c-dark
      }
    }

    &.danger {

      i,
      p {
        color: $c-danger
      }
    }

    &.success {

      i,
      p {
        color: $c-success
      }
    }
  }

  .info~div {}

  div.duree {
    @extend .notifs;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 1.5rem;
      height: 1.5rem;
      font-size: .8em;
      border-radius: 50%;
      background-color: $c-neutral;
      color: $c-dark;
      @include font('bold');
    }

    &.danger span {
      background-color: $c-danger;
      color: #fff;
    }
  }

  div.observation,
  div.action,
  div.close,
  div.notif,
  div.inter {
    @extend .notifs;
  }

  .cas-toolbar-patient {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    >button:not(:first-child) {
      margin-left: 1em;
    }
  }

  .cas-toolbar-medium {}

  .cas-toolbar-large {
    flex-direction: row;

    >div {
      @extend .notifs;
    }
  }

  /* //// ETATS //// */
  &.clos {
    background-color: $c-neutral-light;
    box-shadow: none;

    >div.urgence,
    >div.info {
      background-color: $c-neutral !important;
    }
  }

  &.active {
    transition: border .1s ease-out;

    &.u1 {
      border: $c-danger 2px solid;
    }

    &.u2 {
      border: $c-warning 2px solid;
    }

    &.u3 {
      border: $c-primary 2px solid;
    }

    .check {
      background: $c-primary;
    }
  }

  &.loading {
    transition: opacity .2s ease-out;
    opacity: .5;
  }

  /* .check {
        position: absolute;
        border: $c-primary 1px solid;
        width: 1em;
        height: 1em;
        transform: translateX(-3em) translateY(1.5em);
    }
    margin-left:3em;*/
  &.short {
    min-width: 24em;
    width: 24em;
    margin-left: 0; // niv ou nom ???    
    /* .info~div {
            display: none;
        }*/
  }

  &.medium {}

  &.large {}

  &.noToolBar {
    [class*=toolbar] {
      display: none;
    }
  }

  @media screen and (max-width: 1366px) {
    justify-content: flex-start;

    >div.nom {
      width: 10em;
    }

    >div.nom+.niv {
      width: 8em;
    }
  }

  @media screen and (min-width: 1920px) {
    justify-content: space-between;
  }
}
