intervention {
  $bgc: $c-accent;
  $base: 40px;
  margin-bottom: 1em;
  display: block;
  background-color: $c-light;
  box-shadow: 1px 1px 1px rgba(#000, .1);
  border: 2px solid transparent;
  position: relative;

  >div {
    display: flex;
    flex-grow: 1;

    section {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      //max-width: 21em;
      width: 20em;
      padding: 0 1em;

      /* &:before {
                position: absolute;
                font-family: 'FontAwesome';
                left: 50%;
                transform: translateX(-50%);
                content: "\f007";
                font-size: 5em;
                color: rgba(#fff, .4)
            }*/

    }

    aside {
      border-left: .25em dashed #fff;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // align-items: flex-start;
      flex-grow: 1;
      padding: 0 1em;

      padding-right: 2.5em;
      //width: 30em;

      /*&:before {
                position: absolute;
                font-family: 'FontAwesome';
                left: 50%;
                transform: translateX(-50%);
                content: "\f0f9";
                font-size: 5em;
                color: rgba(#fff, .4)
            }*/
    }

  }

  &:not(.started):not(.closed) {
    header {
      //background-color: $c-primary;
      background-color: $c-danger;

    }

    &.active {
      //border-color$c-dangermary;
      border-color: $c-danger;
    }
  }

  &.started {
    header {
      //background-color: $c-warning;
      background-color: $c-primary;
    }

    &.active {
      //border-color: $c-warning;
      border-color: $c-primary;
    }
  }

  &.closed {
    header {
      background-color: $c-neutral;

      .inter-details .inter-heure {
        font-size: 1em;

      }
    }

    &.active {
      border-color: $c-neutral;
    }
  }

  .numero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    @include font('bold');
    opacity: .8;
  }

  header {
    position: relative; // height: $base;
    background: $c-neutral;
    display: flex;
    text-transform: capitalize;
    cursor: pointer;

    >div {
      flex-direction: row;
      height: 100%;
      align-items: center;
    }

    .inter-details {
      justify-content: space-between;
      display: flex;
      width: 100%;

      .inter-motif {
        text-transform: uppercase;
        font-size: 1.1em;
        opacity: .9;
      }

      .inter-lieu {
        text-transform: lowercase;
        font-size: 1em;
        opacity: .9;
      }

      .inter-date {
        font-size: .8em;
        color: #fff;
      }

      .inter-heure {
        font-size: 1.5em;
        color: #fff;

      }

      .inter-observation {
        font-size: .9em;
        @include font('light');
        color: #fff;
      }

    }
  }


  liste-intervention-moyen {
    >span.dispo {
      display: none;
    }
  }



  @mixin display_mode {
    display: flex;

    header {
      flex-direction: column;
      min-height: 5em;
      width: 10em;
      min-width: 10em;

      .numero {
        height: auto;
        position: absolute;
        top: .5em;
        left: .5em;

        >span {
          font-size: 1em;
        }
      }

      .inter-details {
        flex-direction: column;
        padding: none;
        text-align: center;
        justify-content: space-evenly;

        >div {
          justify-content: space-around;
          display: flex;
          flex-direction: column;
        }

        .inter-motif {
          @include font('light');
        }
      }
    }

    cas {
      font-size: .75em;
    }

    >div {
      padding: 0;
    }
  }

  @include tablet {
    @include display_mode;
  }

  @media (min-width: 1280px) and (max-width: 1440px) {
    visualisation.intervention {

      intervention {}


    }

    >div {
      flex-direction: column;
      flex-grow: 1;

      section {
        padding: 1em;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }

      aside {
        border-left: none;
        padding: 1em;
        border-top: .25em dashed #fff;
        justify-content: space-between;

        width: 100%;

        >liste-intervention-moyen {
          margin-bottom: 1em;
        }

        >liste-intervention-moyen:last-child {
          margin-bottom: 0;
        }
      }
    }



  }
}
