.bready {
    display: flex;
    overflow: hidden;
    margin: auto;
    text-align: center;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    font-size: .8em;
    $breadbase: 2.5em;
    height: $breadbase * 1.5;

    >div {
        position: relative;
        display: flex;
        flex-grow: 1;
        text-decoration: none;
        margin: auto;
        height: 100%;
        padding-right: 0;
        color: #fff;
        /* 
        padding-left: $breadbase;
        &:first-child {
            padding-left: $breadbase / 2.5;
        }
         &:last-child {
            padding-right: $breadbase / 2.5;
        }
        */
        border-right: #fff 1px solid;

        &:last-child {
            >span {
                padding-left: $breadbase *0.5;
            }
        }

        &:nth-last-of-type(2) {
            border-right: none;
        }

        &.bready_arrow:after {
            content: "";
            position: absolute;
            display: inline-block;
            width: $breadbase * 1.5;
            height: $breadbase * 1.5;
            top: 0;
            right: $breadbase / 1.35 * -1;
            background-color: #fff; //border-top-right-radius: 5px;
            transform: scale(0.707) rotate(45deg); //box-shadow: 1px -1px rgba(0, 0, 0, 0.25);
            z-index: 1;
        }

        &:nth-last-of-type(2):after {
            content: "";
            position: absolute;
            display: inline-block;
            width: $breadbase * 1.5;
            height: $breadbase * 1.5;
            top: 0;
            right: $breadbase / 1.35 * -1;
            background-color: #fff; //border-top-right-radius: 5px;
            transform: scale(0.707) rotate(45deg); //box-shadow: 1px -1px rgba(0, 0, 0, 0.25);
            z-index: 1;
        }

        &:last-child:after {
            content: none;
        }

        >span {
            display: flex;
            flex-direction: column;
            margin: auto;
            z-index: 2;
            align-items: center;

            >span:first-child {
                text-transform: uppercase;
                @include font('bold');

                &:not(.btn) {
                    max-width: 5em;
                }
            }

            >span:last-child {}
        }

        &.success {
            background-color: $c-success;

            &:after {
                background-color: $c-success;
            }
        }

        &.danger {
            background-color: $c-danger;

            &:after {
                background-color: $c-danger;
            }
        }

        &.warning {
            background-color: $c-warning;

            &:after {
                background-color: $c-warning;
            }
        }

        &.primary {
            background-color: $c-primary;

            &:after {
                background-color: $c-primary;
            }
        }

        &.archive {
            background-color: $c-neutral;

            &:after {
                background-color: $c-neutral;
                display: none;
            }

            &:last-child span {
                padding-left: 0;
            }

            &:nth-last-of-type(2) {
                border-right: #fff 1px solid;
            }
        }

        .btn {
            padding: .75em;
            border-radius: .25em;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .4);
        }
    }
}

liste-intervention-moyen {

    display: flex;
    flex-direction: row;
    border-radius: .25em;
    border: none;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
    text-align: center;
    z-index: 1;
    background-color: rgba(#fff, .7);
    font-size: .8em;
    $breadbase: 2.5em;
    height: $breadbase * 1.5;
    align-items: stretch;
    justify-items: stretch;

    >span {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 .5em;
        min-width: 5em;
        flex-grow: 1;


        span {
            z-index: 1;
        }
    }

    .btn {
        border-radius: .25em;
        min-width: 4em;

        i {
            color: #fff;
        }
    }

    .fa-spin {
        color: $c-neutral;
    }


    &:not(.archive)>span {

        &.next,
        &.dispo {
            padding-left: $breadbase;

        }

        /* &.next:before {
            content: "";
            position: absolute;
            display: inline-block;
            width: $breadbase * 1.5;
            height: $breadbase * 1.5;
            top: 0;
            left: $breadbase / 1.35 * -1;
            transform: scale(0.707) rotate(45deg);
            box-shadow: 1px -1px 1px 0px rgba(#000, .1);
            border-top-right-radius: .25em;
            background: #fff;
        }*/


        &.current:after {
            content: "";
            position: absolute;
            display: inline-block;
            width: $breadbase * 1.5;
            height: $breadbase * 1.5;
            top: 0;
            right: $breadbase / 1.35 * -1;
            transform: scale(0.707) rotate(45deg);
            box-shadow: 1px -1px 1px 0px rgba(#000, .1);
            border-top-right-radius: .25em;
            background: #fff;
            z-index: -1;
        }

        &.archive {
            z-index: 1;
            min-width: 6em;
            padding: 0 .5em;

        }

        &.warning {

            &.archive,
            &+.next:before,
            &.current:after {
                background-color: $c-warning
            }
        }

        &.primary {

            &.archive,
            &+.next:before,
            &.current:after {
                background-color: $c-primary
            }
        }

        &.success {

            &.archive,
            &+.next:before,
            &.current:after {
                background-color: $c-success
            }
        }
    }

    .name {

        text-transform: uppercase;
        background-color: #fff;
        z-index: 1;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

        &:after {
            background-color: #fff !important;
        }

        i {
            margin-bottom: .25em
        }
    }

    /*&.warning>.name {
        background-color: $c-warning
    }*/
    &.warning>.name {
        background-color: $c-warning
    }

    &.primary>.name {
        background-color: $c-primary
    }


    &.archive {

        border-color: $c-neutral;
        color: $c-neutral;

        >span {
            min-width: 6em;
            width: 20%;
        }

        .name {
            box-shadow: 0 0 2px rgba(0, 0, 0, .2);
        }
    }


}

moyen {
    &.active {
        >article {
            transition: all .2s ease-out;

            &.indisponible {
                border: 2px solid $c-danger !important;
            }

            &.success {
                border: 2px solid $c-success;
            }

            &.warning {
                border: 2px solid $c-warning;
            }

            &.primary {
                border: 2px solid $c-primary;
            }
        }
    }

    >article {
        @extend .fiche;
        border: transparent 2px solid;
        background-color: $c-light;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin-bottom: 1em;
        font-size: .9em;

        .picto {
            display: flex;
            width: 100%;

            span {
                width: 100%;
                display: flex;
                flex-grow: 1;
                justify-content: center;

                &:first-child {
                    padding: 0 1em;
                }

                &:nth-child(2) {
                    font-size: .8em;
                    text-transform: uppercase;
                    padding: 0 .75em 0 3em;
                    color: transparent;
                }
            }
        }

        &.indisponible {

            h3,
            .picto {
                color: $c-danger !important;
            }
        }

        &.success,
        &.disponible {

            h3,
            .picto {
                color: $c-success;
            }

            .etat>div:first-child {
                background-color: $c-success;
            }
        }

        &.warning {

            h3,
            .picto {
                color: $c-warning;

                .fa-ambulance {
                    @extend .fa-shipping-timed;
                }
            }

            .etat>div:first-child {
                background-color: $c-warning;
            }
        }

        &.primary {

            h3,
            .picto {
                color: $c-primary;

                .fa-ambulance {
                    @extend .fa-shipping-fast;
                }
            }

            .etat>div:first-child {
                background-color: $c-primary;
            }
        }

        header {
            cursor: pointer;
            flex-direction: column;
            position: relative;

            >div:first-child {
                width: 100%;
                position: relative;
                padding: 1em 1em 2em 1em;

                span {
                    position: absolute;
                    left: .75em;

                    i {
                        line-height: 1.5rem;

                        &.fa-pause {
                            color: $c-danger;
                        }

                        &.fa-play {
                            color: $c-success;
                        }
                    }
                }

                h3 {
                    margin: 0;
                    line-height: 1.5rem;
                    font-size: 1.2em;
                    font-weight: bold;
                    @include font('regular');
                }
            }

            >div:last-child {
                i {
                    font-size: 2em
                }
            }
        }

        >div {
            display: block;
            background-color: #fff;
            text-transform: uppercase;

            >div {
                width: 100%;

                span {

                    &.disponible,
                    &.indisponible {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        display: block;
                        width: 100%;
                        padding: 1em;
                    }

                    &.disponible {
                        background-color: $c-success;
                    }

                    &.indisponible {
                        background-color: $c-danger;
                    }
                }
            }
        }
    }

    &.short {
        article {
            font-size: .8em;
            max-height: 10.5em;

            header {
                i {
                    //display: none
                }
            }

            //>div,
            >footer {
                //display: none;
            }
        }
    }
}

frise-moyen {
    @extend .bready;

    .hide {
        display: none;
    }
}