<div id="main">

    <aside>
        <nav>
            <ul>
                <li (click)="open('user')">USER</li>
                <li *ngFor="let sett of settingList" (click)="open(sett.type)">{{sett.label}}</li>
                <li>#1</li>
            </ul>
        </nav>



    </aside>
    <div [ngSwitch]='showSection'>
        <div *ngSwitchCase="'user'">
            <h2>Mode</h2>
            <i class="fal" [ngClass]="{'fa-eye-slash':casMode == 'large','fa-eye':casMode == 'medium'}" (click)="toggleCasMode()"></i>
            <h2>Poste</h2>


            <mat-form-field>
                <mat-select [value]="currentPoste" (selectionChange)="selectPoste($event)" placeholder="Choisir">
                    <mat-option *ngFor="let poste of postes" value="{{poste}}">{{ poste }}</mat-option>
                </mat-select>
            </mat-form-field>


            <h2>User</h2>
            <button color="warning" mat-raised-button (click)="logout()">Logout</button>
            <h2>Destroy TABLES</h2>
            <button color="primary" mat-raised-button (click)="destroyLocalTables()">DESTROY local TABLES</button>
            <!--<button color="danger" mat-raised-button (click)="destroyAll()">DESTROY ALL TABLES (includes remote!!)</button>-->
            <h2>Sync TABLES</h2>
            <button color="accent" mat-raised-button (click)="syncAll()">Sync all tables</button>
            <h2>RELOAD</h2>
            <button color="accent" mat-raised-button (click)="reload()">Recharger la page et mettre à jour le cache</button>
        </div>
        <div>
            <h2>Export / Import Parametres</h2>
            <button color="accent" mat-raised-button (click)="open('importandexport')">Import and Export Data</button>
        </div>
        <div *ngFor="let sett of settingList">
            <param-admin *ngSwitchCase="sett.type" [config]="sett" (submitForm)="submitSetting(sett.type,$event)"></param-admin>
        </div>



        <div *ngIf="this.currentFonction === 'administrateur'">
                    <h2>NIV Setting(Automatic / Manual)</h2>
                    <ui-switch defaultBgColor="green" [(ngModel)]="niv_setting" (click)="nivchange()"></ui-switch>
                    <p *ngIf="!niv_setting">Automatic</p>
                    <p *ngIf="niv_setting">Manual</p>
         </div>
         <div *ngIf="this.currentFonction == 'administrateur'">
                <import-export></import-export>
         </div>
     </div>



</div>
