<mcno *ngIf="showList == 'mcno'">

</mcno>

<div class="left-side cas-mode-{{casMode}} list-mode-{{mode}}">


    <section [ngSwitch]="showList">

        <div class="pagination-left" (click)="goLastPage()" *ngIf="pagination[showList]?.last">
            <span>
                <i class="fas fa-arrow-left"></i>
            </span>
        </div>

        <div class="pagination-right" (click)="goNextPage()" *ngIf="pagination[showList]?.next">
            <span>
                <i class="fas fa-arrow-right"></i>
            </span>
        </div>




        <filtre-intervention id="filters_intervention" *ngSwitchCase="'intervention'"> </filtre-intervention>
        <div id="list-interventions" *ngSwitchCase="'intervention'">
            <intervention *ngFor="let intervention of interventionsList"
                [selected]="currentIntervention == intervention._id" [intervention]="intervention"
                [ngClass]="{'active':currentIntervention == intervention._id,'started':intervention.started && !intervention.clos,'closed':intervention.clos}">
            </intervention>
            <div *ngIf="interventionsList.length < 1" class="empty-list">
                <h2>Aucune intervention ne correspond à cette recherche</h2>
            </div>
        </div>

        <filtre-moyen id="filters_moyen" *ngSwitchCase="'moyen'"> </filtre-moyen>
        <div id="list-moyens" *ngSwitchCase="'moyen'">
            <moyen *ngFor="let moyen of moyensList | orderBy: 'nom' "  [moyen]="moyen"   (selectMoyen)="selectMoyen($event)"
                [ngClass]="{'active':currentMoyen == moyen._id}"></moyen>
            <div *ngIf="moyensList.length < 1" class="empty-list">
                <h2>Aucun moyen ne correspond à cette recherche</h2>
            </div>
        </div>

        <filtre-cas id="filters_cas" *ngSwitchCase="'cas'"> </filtre-cas>
        <div id="list-cas" *ngSwitchCase="'cas'" class="{{casMode}}">
            <!-- <order-cas *ngSwitchCase="'cas'" [nivMode]="nivMode"></order-cas>-->
            <cas *ngFor="let cas of casList" [cas]="cas" (selectCas)="selectCas($event)"
                (selectCasMulti)="selectCasMulti($event)"
                class="{{currentCas == cas._id || multiSelectedCas.includes(cas._id)?'active':''}}{{loadingList?'loading':''}}">
            </cas>
            <div *ngIf="casList.length < 1 " class="empty-list">
                <i *ngIf="loadingList" class="fa fa-circle-o-notch fa-spin "></i>
                <h2 *ngIf="!loadingList">Aucun cas ne correspond à cette recherche</h2>
            </div>
        </div>
        <filtre-passage id="filters_passage" *ngSwitchCase="'passage'"> </filtre-passage>
        <div id="list-passage" *ngSwitchCase="'passage'" class="{{passageMode}}">
            <passage
              *ngFor="let passage of passageList"
              [passage]="passage"
              (selectPassage)="selectPassage($event)"
              (selectPassageMulti)="selectCasMulti($event)"
              class="{{ loadingList ? 'loading' : '' }} {{ isPassageActive(passage) ? 'active' : '' }}">
            </passage>
            <div *ngIf="passageList.length < 1 " class="empty-list">
                <i *ngIf="loadingList" class="fa fa-circle-o-notch fa-spin "></i>
                <h2 *ngIf="!loadingList">Aucun Passage ne correspond à cette recherche</h2>
            </div>
        </div>

    </section>

    <button class="cta" (click)="newItem()">
        <i class="fas fa-plus"></i>
    </button>
</div>

<volet class="volet right-side"></volet>
