<article *ngIf="moyen">
  <header>
    <h1 class="{{currentState?.color}}">
      <div [ngSwitch]="moyen.type" class="picto">
        <i class="fal fa-ambulance"   *ngSwitchCase="'Ambulance'"></i>
        <i class="fal fa-car"         *ngSwitchCase="'VL'"></i>
        <i class="fal fa-walking"     *ngSwitchCase="'Pédestre'"></i>
        <i class="fal fa-home"        *ngSwitchCase="'poste'"></i>
        <i class="fal fa-user-md"     *ngSwitchCase="'personnel'"></i>
      </div>
      <div>{{moyen.nom}}</div>
    </h1>
    <h2>
      <span *ngIf="moyen.type">{{moyen.type}}</span><br>
      <span *ngIf="moyen.famille">{{moyen.famille}}</span>
    </h2>
    <h3 *ngIf="!moyen?.currentIntervention">
      <button  mat-raised-button color="danger" (click)="reset()">reset</button>
    </h3>
    <h3 *ngIf="moyen?.currentIntervention">
      <button  mat-raised-button color="danger" (click)="reset()">reset</button>
      &nbsp;
      <button  mat-raised-button color="accent" (click)="selectInter()">
        <i class="fas fa-ambulance"></i>
        Intervention en cours
      </button>
    </h3>
  </header>

  <liste-intervention-moyen
    [moyen]="moyen"
    [interID]="moyen.currentIntervention"
    [interStarted]="true">
  </liste-intervention-moyen>

  <mat-tab-group  #tabGroup>
    <mat-tab label="detail">
      <button mat-raised-button color="success" (click)="createInter()" [disabled]="loading">
        Autodéclenchement rapide
      </button>
      <p *ngIf="moyen.balise">Balise : {{moyen.balise}}</p>
      <p *ngIf="moyen.lastgpstimestamp">Dernière position GPS : {{moyen.lastgpstimestamp}}</p>
      <p *ngIf="moyen.capacite">Capacité : {{moyen.capacite}}</p>
      <p *ngIf="moyen.chef">Chef de bord : {{moyen.chef}}</p>
      <p *ngIf="moyen.telephone">Téléphone : {{moyen.telephone}}</p>

      <div class="moyen-details-footer">
        <button mat-raised-button color="primary" (click)="edit()">Modifier</button>
      </div>
    </mat-tab>

    <mat-tab label="Historique">
      <div *ngIf="moyen" >
        <div  *ngFor="let histo of moyen?.historique">
          <p>{{histo.intervention}}</p>
          <frise-moyen [states]="histo.etats" [moyen]="moyen"></frise-moyen>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</article>
