<article *ngIf="chart" class="{{chart.name}}">

  <div class="data_table">
    <table mat-table [dataSource]="chart.tabledata" *ngIf="chart.tabledata.length > 0" [ngSwitch]="true">
      <ng-container *ngSwitchCase="chart.type === 'bar'">
        <ng-container *ngFor="let col of chart.cols; let i = index;" [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef> {{ col }}</th>
          <td mat-cell *matCellDef="let element; let j = index;">
            {{ i == 0 ? chart.rows[j] :element.value }}
          </td>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="chart.type === 'pie' || chart.type === 'number-card'">
        <ng-container *ngFor="let col of chart.cols; let i = index;" [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef> {{ col }}</th>
          <td mat-cell *matCellDef="let element; let j = index;">
            {{ i == 0 ? chart.rows[j] :element.value }}
          </td>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="chart.type === 'bar2d' || chart.type === 'line' || chart.type === 'area'">
        <ng-container *ngFor="let col of chart.cols; let i = index;" [matColumnDef]="col" sticky="{{!i?'true':'false'}}">
          <th mat-header-cell *matHeaderCellDef>
            {{ i ? col : '' }}</th>
          <td mat-cell *matCellDef="let element; let j = index;">
            {{ i ? element[i -1] : chart.rows[j] }}
          </td>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="chart.cols; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: chart.cols;"></tr>
    </table>
  </div>

  <ng-template #nodata>
    <div class="waitingChart">
      No Data
    </div>
  </ng-template>

</article>