<section>
    <header>
        <h1>
            Main courante non opérationnelle</h1>
        <div>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
            </mat-form-field>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            <button mat-button (click)="generatePDF()">PDF</button>
        </div>
    </header>
    <div class="fiche">




        <mat-table #table [dataSource]="dataSource" matSort>


            <!-- poste Column -->
            <ng-container matColumnDef="poste">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Poste</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.poste }}</mat-cell>
            </ng-container>

           


            <!-- auteur Column -->
            <ng-container matColumnDef="auteur">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Auteur</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.auteur }}</mat-cell>
            </ng-container>



            <!-- auteur Column -->
            <ng-container matColumnDef="timeCode">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Création</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.timeCode | date:'dd/MM/yy'}}
                    <br/> {{row.timeCode | date:'HH:mm'}}</mat-cell>
            </ng-container>

            <!-- type Column -->
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header>type</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.type.join() }}</mat-cell>
            </ng-container>



            <!-- observation Column -->
            <ng-container matColumnDef="observation">
                <mat-header-cell *matHeaderCellDef mat-sort-header>observation</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.observation }}</mat-cell>
            </ng-container>

            <!-- origine Column -->
            <ng-container matColumnDef="origine">
                <mat-header-cell *matHeaderCellDef mat-sort-header>0rigine</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.origine }}</mat-cell>
            </ng-container>

            <!-- destinataire Column -->
            <ng-container matColumnDef="destinataire">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Destinataire</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.destinataire }}</mat-cell>
            </ng-container>
            <!-- canal Column -->
            <ng-container matColumnDef="canal">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Canal</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.canal }}</mat-cell>
            </ng-container>
            <!-- action Column -->
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.action }}</mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

        </mat-table>

    </div>

    <button class="cta" (click)="toggleVolet()" [ngClass]="{toClose : showVolet}">
        <i class="fas fa-plus"></i>
    </button>
</section>

<div class="overlay" [ngClass]="{open : showVolet}" (click)="toggleVolet()"></div>
<div class="volet" [ngClass]="{open : showVolet}">


    <div class="fiche">

        <h2>Ajouter une MCNO</h2>
        <dynamic-form [config]="config" #form="dynamicForm" (submit)="submitMcno($event)">
        </dynamic-form>
    </div>


</div>