<article *ngIf="chart.chartdata">

  <h2>{{chart.title}}</h2>

  <ng-container *ngIf="chart.chartdata.length > 0; else loading" [ngSwitch]="chart.type" class="chart {chart.name}">
    <div class="chartImg">
      <ngx-charts-bar-vertical [id]="chart.name" *ngSwitchCase="'bar'" [scheme]="chart.scheme" [results]="chart.chartdata"
        yScaleMin="0" xAxis="true" yAxis="true" roundEdges="" legend="false" [customColors]="customColors" animations="true">
      </ngx-charts-bar-vertical>
      <ngx-charts-line-chart [id]="chart.name" *ngSwitchCase="'line'" [scheme]="chart.scheme" [results]="chart.chartdata"
        animations="true" [showRefLabels]="false" yScaleMin="0" xAxis="true" yAxis="true" legend="false" [customColors]="customColors">
      </ngx-charts-line-chart>
      <ngx-charts-bar-vertical-2d [id]="chart.name" *ngSwitchCase="'bar2d'" [scheme]="chart.scheme" [results]="chart.chartdata"
        yScaleMin="0" xAxis="true" yAxis="true" roundEdges="" legend="true" legendPosition="'below'" [customColors]="customColors"
        animations="true">
      </ngx-charts-bar-vertical-2d>
      <ngx-charts-pie-chart [id]="chart.name" *ngSwitchCase="'pie'" [scheme]="chart.scheme" [results]="chart.chartdata"
        [labels]="false" legend="true" [customColors]="customColors" animations="true">
      </ngx-charts-pie-chart>


      <ngx-charts-pie-grid [id]="chart.name" *ngSwitchCase="'pie-grid'" [scheme]="chart.scheme" [results]="chart.chartdata"
        labels="false" legend="false" [customColors]="customColors" animations="true">
      </ngx-charts-pie-grid>
      <ngx-charts-area-chart [id]="chart.name" *ngSwitchCase="'area'" [scheme]="chart.scheme" [results]="chart.chartdata"
        [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true" [autoScale]="true"
        (select)="true" [customColors]="customColors" animations="true">
      </ngx-charts-area-chart>
      <ngx-charts-number-card [id]="chart.name" *ngSwitchCase="'number-card'" [scheme]="chart.scheme" [results]="chart.chartdata"
        [customColors]="customColors" animations="true">
      </ngx-charts-number-card>

      <ngx-charts-bar-vertical-stacked [id]="chart.name" *ngSwitchCase="'bar-stacked'" [scheme]="chart.scheme"
        [results]="chart.chartdata" [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="true"
        [showYAxisLabel]="true" (select)="true" [customColors]="customColors" animations="true">
      </ngx-charts-bar-vertical-stacked>



    </div>
  </ng-container>
  <!--
  <div class="data_table">
    <table mat-table [dataSource]="chart.tabledata" *ngIf="chart.chartdata.length > 0" [ngSwitch]="true">
      <ng-container *ngSwitchCase="chart.type === 'bar'">
        <ng-container *ngFor="let col of chart.cols; let i = index;" [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef> {{ col }}</th>
          <td mat-cell *matCellDef="let element; let j = index;">
            {{ i == 0 ? chart.rows[j] :element.value }}
          </td>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="chart.type === 'pie'">
        <ng-container *ngFor="let col of chart.cols; let i = index;" [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef> {{ col }}</th>
          <td mat-cell *matCellDef="let element; let j = index;">
            {{ i == 0 ? chart.rows[j] :element.value }}
          </td>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="chart.type === 'bar2d' || chart.type === 'line'">
        <ng-container *ngFor="let col of chart.cols; let i = index;" [matColumnDef]="col" sticky="{{!i?'true':'false'}}">
          <th mat-header-cell *matHeaderCellDef>
            {{ i ? col : '' }}</th>
          <td mat-cell *matCellDef="let element; let j = index;">
            {{ i ? element[i -1] : chart.rows[j] }}
          </td>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="chart.cols; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: chart.cols;"></tr>
    </table>
  </div>

-->



  <ng-template #loading>
    <ng-container *ngIf="chart.loading;else nodata">
      <div class="waitingChart">
        <i class="fas fa-spinner-third fa-spin"></i>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #nodata>
    <div class="waitingChart">
      No Data
    </div>
  </ng-template>
</article>